[2021-11-24 04:51] mandar242 commented on #564
Hello @ginigangadharan, can you please try using ```state``` option along with ```wait``` as shown in the below task?

As in ```amazon.aws.ec2_instance``` , with the use of ```state``` option along with ```wait```, you can ask to wait until the desired state is achieved.

[code]

#### More info:
[code]

[2021-11-24 06:39] ginigangadharan commented on #564
@mandar242 Wonderful !
Yes this is working.I was using old `state: present` and now realized that I need to use `state:running` with `wait: true`.

Thank you for guidance.

I will close the issue as well.

[2021-11-24 06:39] #564 closed

[2021-11-24 11:42] tremble commented on #564
Hi @ginigangadharan,

This behaviour changed with release 2.0.0
https://github.com/ansible-collections/amazon.aws/blob/main/CHANGELOG.rst#breaking-changes-porting-guide

Please be aware that with major releases (2.0.0, 3.0.0, etc) there will likely be breaking changes included and it's recommended to read the porting guide.  With release 3.0.0, planned for December, we expect to remove a number of

[2021-11-24 11:43] ginigangadharan commented on #564
oh no wonder. I really missed that bullet point. Thank you @tremble

[2021-11-26 02:53] zarr12steven opened #576 "CreateVpcEndpoint operation: Route table IDs are only supported for Gateway type VPC Endpoint."
### Summary

I use `community.aws.ec2_vpc_endpoint` this module to create the `com.amazonaws.us-west-2.ec2` vpc endpoint and follow the [ansible document - community.aws.ec2_vpc_endpoint](https://docs.ansible.com/ansible/latest/collections/community/aws/ec2_vpc_endpoint_module.html#ec2-vpc-endpoint-module), but it's not working, like below from ansible documentation example.

[code]

### Issue Typ

[2021-11-30 08:00] #536 closed

[2021-12-01 21:38] fostermi commented on #559
This has really bit us since the module is not returning all hostnames that our roles are using to pull in inventory_hostnames variables of Docker containers. We are deploying a database and an app that needs to reference the database host IP from the `docker_container` results from the database container deploy, but this module only returns a single hostname (i.e. the first item in the `hostnames

[2021-12-01 22:22] fostermi opened #582 "aws_ec2.yml file hostnames example file doesn't work"
### Summary

Trying to set `hostnames` using the following example from the docs:
[code]
results in the following error:
[code]

### Issue Type

Bug Report

### Component Name

aws_ec2

### Ansible Version

[code]
`ansible 2.9.10`

### Collection Versions

[code]

### AWS SDK versions

[code]
[code]

### Configuration

[code]

### OS / Environment

_No response_

### Steps to Reproduce

[code]

`a

[2021-12-02 00:47] fostermi commented on #582
If I change the file by adding `---` at the beginning for a normal yml file I get the following error:
[code]

[2021-12-02 01:22] fostermi commented on #582
So I guess the question is, what is this syntax trying to do with "names".
[code]

[2021-12-02 01:52] fostermi opened #583 "aws_ec2 module only looks at first item in hostnames list"
### Summary

The section for defining how `hostnames` are reported in the inventory shows it as a YAML list:
[code]

However, creating an example aws_ec2.yml file such as the following:
[code]

 the module only uses the first item in the list instead of all items. Hence only the single host with the tag "Tag1" is returned.

Additionally, the module prepends the name of tag Key to the hostname, ins

[2021-12-07 04:16] danwashusen opened #586 "Clarify usage of ansible_ec2_network_interfaces_macs_mac* facts"
### Summary

The docs don't really mention how the various `ansible_ec2_network_interfaces_macs_mac*` facts work (e.g. the 'mac' part is expanded). To use the variables one needs build a variable name dynamically which requires a bit of trial and error to use...

A few simple examples would go a long way:
[code]

### Issue Type

Documentation Report

### Component Name

amazon.aws.ec2_metadata_fac

[2021-12-14 20:51] uApple opened #588 "Ansible crashes when creating EC2 instance"
### Summary

When running a task which creates EC2 instance in Ansible 2.9.27 with python2.7 interpreter, it occasionally crashes during the execution. This issue is intermittent.

### Issue Type

Bug Report

### Component Name

ec2

### Ansible Version

[code]

### Collection Versions

[code]

### AWS SDK versions

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 18.04 Docker conta

[2021-12-15 04:33] anjo-swe opened #589 "elb_classic_lb - failed to resolve security_group_ids when providing security_group_names"
### Summary

When i try to create a classic ELB it fails to resolve `security_group_ids` based on `security_group_names` & `subnets`

Locally i fixed both issues by:

1. https://github.com/ansible-collections/amazon.aws/blob/2.1.0/plugins/modules/elb_classic_lb.py#L747
    1. Change `if self.elb.get('Subnets'):` to `if self.elb is not None and self.elb.get('Subnets'):`
2. https://github.com/ansibl

[2021-12-20 14:42] alinabuzachis commented on #589
@anjo-swe Thank you for raising this issue. Would you be willing to open a PR to fix this issue?

[2021-12-21 09:18] href opened #593 "Bucket name validation is too eager and should be skippable"
### Summary

With the implementation of https://github.com/ansible-collections/amazon.aws/pull/341 all bucket names must adhere to Amazon S3's naming rules. While those rules are generally followed by alternative S3 implementations, they are not a given and can sometimes be disabled (at least in the case of Ceph):

https://docs.ceph.com/en/latest/radosgw/s3/bucketops/

Furthermore, the way this wo

[2021-12-21 11:40] #589 closed

[2021-12-21 18:08] anjo-swe commented on #589
@mandar242 thanks for the quick turnaround!

[2021-12-23 17:45] imareporter opened #596 "ec2_vol tags resources after creating them, instead of at creation time"
### Summary

Per an user's request, they would like `ec2_vol` to tag resources at creation time, instead of after.

### Issue Type

Feature Idea

### Component Name

ec2_vol

### Additional Information

_No response_

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-12-26 17:28] mandar242 commented on #366
Hi @hferreira23, thank you, this indeed could be a useful feature.
Could you please take a look at #597 and test on your side as well?

[2021-12-26 17:36] mandar242 commented on #462
Hi @emanuele-leopardi, could you please take a look at #587?  Once it is merged, it should likely resolve this issue.

[2021-12-26 18:06] emanuele-leopardi commented on #462
@mandar242 It looks good to me, thank you for your hard work :)

[2021-12-26 18:21] mandar242 commented on #375
Hi @talhakalim, thank you, this could be a useful feature.
Could you please take a look at #598 and test on your side as well?

[2021-12-26 19:25] alinabuzachis commented on #375
@mandar242 Thank you for working on this. This issue and https://github.com/ansible-collections/amazon.aws/pull/597 are already on Jira.

[2021-12-28 09:04] lpossamai opened #600 "Not getting any response from ec2_instance_info"
### Summary

I'm trying to get the instance facts, but it gets stuck and I get no response.

[code]

`syslog` logs on the instance where Ansible is running:

[code]

The instance has the `ec2:Describe*` Instance profile rights, so that's why I'm not parsing any access key.

### Issue Type

Bug Report

### Component Name

`community.aws.ec2_instance_info` - All of it

### Ansible Version

[code]

I

[2021-12-29 06:18] AKSarav opened #602 "AWS S3 module Copy function does not seem to work"
### Summary

I was referring to the Official documentation available on this page

aws_s3 documentation ansible

there was an example for copying objects from one bucket to another

While throws an exception as follows

[code]

I have the latest version of Ansible. Ansible 11

My Boto Versions are above the recommended version on the article

boto3 1.17.58
botocore 1.20.58

Except for mode: copy a

[2021-12-29 07:22] Akasurde commented on #602
cc @abikouo Could you please take a look at this? Got introduce via https://github.com/ansible-collections/amazon.aws/pull/359

[2021-12-29 08:47] lpossamai commented on #600
I discovered that my instance does not have access to `ec2.ap-southeast-2.amazonaws.com 443`, probably because of some network configuration issue. It has nothing to do with Ansible. Closing this issue.

[2021-12-29 08:47] #600 closed

[2021-12-29 20:16] acelinkit commented on #602
+1.  Also encountering this error.

ansible 5.0.1
ansible-core 2.12.1
collection amazon.aws 3.0.0

[2022-01-03 11:20] abikouo commented on #602
@AKSarav  Thanks for taking the time to report this issue.
The exception is raised when trying to copy a key not existing in the source bucket,
#603 will fix this, could you please try it ?

[2022-01-04 17:20] alinabuzachis commented on #596
@imareporter thank you for this idea. This PR https://github.com/ansible-collections/amazon.aws/pull/604 should do it.

[2022-01-04 21:48] hferreira23 commented on #366
@mandar242, left my feedback there. All seems good.

[2022-01-07 09:39] #602 closed

[2022-01-08 00:39] LowlyDBA opened #605 "ec2_vol passes null iops to boto when changing type w/ existing iops value"
### Summary

When attempting to modify an existing io1 volume to io2 and supplying the existing iops value, the iops in req_obj is never set and boto rejects it due to the missing required parameter.

https://github.com/ansible-collections/amazon.aws/blob/7bdad1038f4fc88ce2612d786bf345b254b5ba54/plugins/modules/ec2_vol.py#L382-L386

The following fixes it:

[code]

I'd like to open a PR with this

[2022-01-10 22:19] sebastien-rosset opened #609 "OpenSearch, ElasticSearch module"
### Summary

It would be useful to have a `ec2_opensearch` module to deploy opensearch/elasticsearch clusters. Is it missing because nobody from the community submitted a PR? Or was it intentionally not added? Some other reason?

There is one module outside this repo (https://github.com/fiunchinho/ansible-aws-elasticsearch-module), but it hasn't been updated in the last 3 years.

### Issue Type

F

[2022-01-11 09:46] alinabuzachis commented on #609
@sebastien-rosset Thank you for this idea. Would you be willing to work on this module and submit a PR?

[2022-01-11 13:45] sebastien-rosset commented on #609
Yes

[2022-01-11 13:49] alinabuzachis commented on #609
@sebastien-rosset Awesome! Please feel free to work on it! :-)

[2022-01-11 16:19] jillr commented on #609
I agree with @alinabuzachis, the new module would go into community.aws.  It should be named `opensearch` rather than `ec2_opensearch` as this service does not use the EC2 API.

[2022-01-11 16:25] alinabuzachis commented on #554
Closed because duplicate of https://github.com/ansible-collections/community.aws/issues/855.

[2022-01-11 16:25] #554 closed

[2022-01-11 20:54] jillr commented on #576
Hi @zarr12steven The API docs and that error do look like route table IDs are only valid for gateway type endpoints.  This would be a good documentation improvement, would you be interested in opening a PR to update the docs?

[2022-01-11 21:01] jillr commented on #586
Hi @danwashusen More docs would definitely be great, would you be interested in opening a PR to add some examples of things that you've found useful?

[2022-01-11 21:06] jillr commented on #588
Hi @uApple I'm sorry to hear you're experiencing this problem.  The error you've posted shows the fault happening in the ansible-core code rather than the module code, and seems to be an issue with the filesystem that the module is being executed on.  I'd recommend seeing if you can reproduce this issue on another machine, checking if the underlying FS is stable and available, and the host overall

[2022-01-11 21:06] #588 closed

[2022-01-11 21:10] jillr commented on #593
Hi @href, thanks for reporting this.  If you would like to propose a PR that adds the necessary conditional handling we would definitely consider it.  We do not have a Ceph cluster (or any other non-AWS S3 implementations) available to us though for development and testing.

[2022-01-12 07:26] tremble commented on #588
In addition to what @jillr has said the `ec2` module was deprecated with release 2.0.0 of this collection due, in large part, to being based on the old `boto` AWS SDK (the original boto, not botocore/boto3) which has itself been deprecated and hasn't seen a code update since early 2019.

A replacement module, `ec2_instance`, is available and I would strongly recommend porting your playbooks if pos

[2022-01-12 08:21] tremble opened #610 "Define a naming scheme for AWS modules"
### Summary

Most of the history with the `aws_` prefix comes from before Ansible split most of the content out into collections.  At that point in time there was no practical namespace for modules to live in, as a result prefixes like `aws_` were used to avoid a collision.  Take for example the `aws_secret` module, without an `aws_` prefix, there's a massive array of secret stores in the Ansible

[2022-01-12 08:27] tremble commented on #610
Personally I'd recommend that we keep the service name (`rds_`/`ec2_`/`elb_`/`iam_`) as a prefix, because there's a lot of overlap with things (snapshots and instances springs to mind), but I wouldn't differentiate between `elb` and `elbv2`.  The `aws_` prefix I'd probably reserve for 'global' AWS things like `aws_region_info`.

The OpenStack folks did a big rename using a similar scheme.  However

[2022-01-12 08:56] markuman commented on #610
Does `community.aws.opensearch` feels confusing to you? The initial suggestion comes from @jillr and I agree :)
Because [`opensearch` is a separate service](https://boto3.amazonaws.com/v1/documentation/api/1.18.51/reference/services/opensearch.html), it does not fit into a prefix `ec2_` etc.

But in general I agree with your suggestion to keep  (`rds_`/`ec2_`/`elb_`/`iam_`) for most modules.
And i

[2022-01-12 09:25] tremble commented on #610
I don't find the **result** of the discussion, ie `community.aws.opensearch`, to be confusing (I would have commented there if I did).  The confusion I was referring to was that the person who raised the issue initially suggested `ec2_opensearch`.  Given that OpenSearch is technically its own service rather than being part of the EC2 APIs, this implies to me that the original suggestion of `ec2_op

[2022-01-12 22:57] #596 closed

[2022-01-12 22:57] #605 closed

[2022-01-13 15:02] abikouo commented on #582
Hi @fostermi.

Thanks for taking the time to report this issue.
Using the following list of EC2 instances

[code]

and using the following inventory file

[code]

I got the following result for the list of hosts

[code]

To have the EC2 instance Name as the output hostname you should use the following syntax:

[code]
Hope this clarify your need ?

[2022-01-13 15:21] #477 closed, assigned to mandar242

[2022-01-14 09:13] href commented on #593
I implemented it by simply adding the ability to skip the check. I decided against anything smarter, because this approach has the advantage that errors bubble up early and independent of state.

That means people affected by this validation being too strict can just disable it in their playbooks, and a `--check` run alone should show if that fixes their issues.

I tested this locally with the fol

[2022-01-14 13:17] abikouo commented on #573
Hi @tomkivlin

The following feature has been merged into main branch, please feel free to test it and give feedback.

Regards
Aubin

[2022-01-14 13:17] #573 closed

[2022-01-14 20:25] jsf9k opened #617 "aws_ssm lookup documentation disagrees with code"
### Summary

In debugging some code of mine that uses the `aws_ssm` lookup I was studying its documentation and found a few errors.

- The documentation indicates [here](https://github.com/ansible-collections/amazon.aws/blob/main/plugins/lookup/aws_ssm.py#L26-L29) that the default value for `on_missing` is `skip`, and that is what it is set to [in the code](https://github.com/ansible-collections/a

[2022-01-15 14:25] jakegatsby commented on #593
I've hit this eager bucket validation myself now using Minio.  However, I also think the existing validation is possibly not correct?  The S3 naming rules s3.py itself links to state "Bucket names must be between 3 and 63 characters long".  Does this not mean names can be a minimum of 3 chars and a max of 63?  This is certainly the rule that Minio seems to follow.  If s3.py is being pedantic and i

[2022-01-15 16:54] sebastien-rosset opened #923 "Document steps to create a module (developer guide)"

[2022-01-17 08:10] href commented on #593
I tend to agree with @jakegatsby. If the maintaners agree I'm happy to fix this in the PR as well (a rather trivial fix). Relevant section from the AWS docs:

https://docs.aws.amazon.com/AmazonS3/latest/userguide/bucketnamingrules.html

[2022-01-17 09:55] mandar242 commented on #472
Hi Greg, can you please try with this patch https://github.com/ansible-collections/amazon.aws/pull/591?

[2022-01-17 14:06] sebastianmacarescu opened #620 "Allow to declare group variables in dynamic inventory"
### Summary

Basically this feature: https://github.com/ansible/ansible/issues/66913
Any workarounds to setup `ansible_group_priority` for the groups created by this inventory plugin?

### Issue Type

Feature Idea

### Component Name

aws_ec2 inventory plugin

### Additional Information

Example
[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2022-01-18 07:50] ggrzesiuk commented on #472
Hi Mandar,

Thank you for letting me know. Would you be so kind and share with me some info on how can I test that ? I'm not so familiar with ansible galaxy and I'm not sure how can I obtain the release containing this patch and how can I use it.

Kindly please let me know.

Thank you and best regards,
Greg

From: Mandar Kulkarni ***@***.***>
Sent: Monday, January 17, 2022 10:56 AM
To: ansible-col

[2022-01-18 11:32] #572 closed

[2022-01-18 14:23] abikouo commented on #535
Hi @giner
Could you please give with the following pull request #621?
Thanks
Aubin

[2022-01-18 14:32] sebastien-rosset opened #622 "ResourceNotFoundException is raised when querying ACM certificates"
### Summary

A `ResourceNotFoundException` may be raised when a ansible module invokes the [get_certificates](https://github.com/ansible-collections/amazon.aws/blob/main/plugins/module_utils/acm.py#L93) function defined in module_utils/acm.py. It looks like there is an intermittent timing issue:
1. The `get_certificates` function gets all certificates defined in ACM using paginated queries.
2. Ite

[2022-01-18 17:22] sebastianmacarescu commented on #620
Closing this as the changes are ansible related and not amazon. Anybody looking for a workaround just check the linked issue.

[2022-01-18 17:22] #620 closed

[2022-01-19 14:46] #535 closed

[2022-01-20 16:11] briantist opened #626 "`ec2_vol` - changing volume type from a type without IOPS (like `standard`) to one with (like `gp3`) raises exception"
### Summary

I was trying to modify some existing `standard` volumes (system disks on existing instances) to `gp3`, and `ec2_vol` raised `KeyError` exceptions as it was trying to query the IOPS from the original volumes.

### Issue Type

Bug Report

### Component Name

ec2_vol

### Ansible Version

[code]

### Collection Versions

[code]

### AWS SDK versions

[code]

### Configuration

[code]

##

[2022-01-20 22:22] #576 closed

[2022-01-21 17:30] Razique opened #628 "Inconsistency in parameters parsing for the ec2_group module when with ICMP rules"
### Summary

Current `amazon.aws.ec2_group` module supports a variety of IP protocols. When writing rules for ICMP `from_port` and `to_port` parameters have different meaning than when using TCP or UDP rules.

This behavior aligns with current [Boto3 implementation](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ec2.html#EC2.SecurityGroup.authorize_ingress) for which pa

[2022-01-21 17:43] LawrenceWarren opened #629 "ec2_group: Add `state: [present/absent]` for individual group rules"
### Summary

## Current situation
I am using Terraform to deploy an EMR cluster and related configuration, and then [provisioning Ansible from Terraform](https://github.com/cloudposse/terraform-null-ansible) to configure Kylin on this EMR cluster.

Now, part of my companies infrastructure requires us to add the EMR security group as an ingress rule to our MSK security group, so that Kylin can talk

[2022-01-22 22:02] tremble opened #633 "lookup_aws_account_attribute integration test broken"
### Summary

After going through the joys of bisecting recent changes ansible/ansible#75587 appears to have broken the test when running `wantlist=False`

**Test disabled by #632**

### Issue Type

CI Bug Report

### CI Jobs

https://ansible.softwarefactory-project.io/zuul/build/34f3d65186154e3cb68c932c3fdc02e0/logs

### Pull Request

https://github.com/ansible-collections/amazon.aws/pull/630

###

[2022-01-22 22:04] tremble commented on #633
It's possible / probably that this is a bug in ansible/ansible.  However, I can't see an existing issue and I'd hope we're not the only ones testing `wantlist=False`.  As such there's probably "something" that the module is doing that needs hunting down for an issue to bu raised in ansible/ansible

[2022-01-25 19:18] #366 closed

[2022-01-25 19:18] #451 closed

[2022-01-26 08:16] Andersson007 opened #637 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-01-26 08:39] loop-evgeny opened #638 "botocore.exceptions.ParamValidationError: Parameter validation failed: Invalid type for parameter Filters[0].Values[0] when group_name is a list"
### Summary

Trying to create an AWS EC2 security group rule that references multiple groups under group_name fails with

[code]

https://docs.ansible.com/ansible/2.9/modules/ec2_group_module.html has an example like this, however:

[code]
so I expected it to work.

### Issue Type

Bug Report

### Component Name

ec2_group

### Ansible Version

[code]

### Collection Versions

[code]

### AWS SDK

[2022-01-26 21:52] #626 closed

[2022-01-27 00:39] #375 closed

[2022-01-27 09:12] markuman commented on #610
https://github.com/ansible-collections/community.aws/issues/887

More candidates

* `aws_codepipeline`
* `aws_codebuild`
* `aws_codecommit`

Imo, the `aws_` prefix should be removed and since the service names are `CodePipeline`, `CodeBuild`, `CodeCommit`, `CodeDeploy`, convert to snake dict would result in `code_` prefix

* `community.aws.code_pipeline`
* `community.aws.code_build`
* `community.a

[2022-01-27 09:39] tremble commented on #610
Looking at how AWS have [structured their APIs](https://github.com/boto/botocore/tree/develop/botocore/data) There are a set of separate APIs, each with sets of resources under them:

codeartifact
codebuild
codecommit
codedeploy
codepipeline

I would suggest something more like:

community.aws.codedeploy_deployment
community.aws.codedeploy_deployment_group

There are also a few things around like

[2022-01-27 10:16] alinabuzachis commented on #629
@LawrenceWarren Thank you for reporting this. If I understood correctly your problem, setting `purge_tags: true` should solve your issue. When `purge_tags: true`, the old rules are removed and the new ones are applied. https://github.com/ansible-collections/amazon.aws/blob/main/plugins/modules/ec2_group.py#L186

Let me know please if this is what you meant.

[2022-01-27 10:26] LawrenceWarren commented on #629
@alinabuzachis Thanks for the response. Unfortunately, `purge_rules: true` would not do as needed.

The Security Group already exists in AWS, with many other rules to other services attached. Setting `purge_rules: true` would delete all of these rules, which we don't want.

What this request is asking for is a way to delete specific rules, in the same way you can add specific rules one at a time u

[2022-01-27 10:31] alinabuzachis commented on #610
I personally find `aws_security_group` confusing because of the `aws_` prefix. I will go more for `ec2_security_group` (but this is my personal feeling). I throw it there, what about organising the modules in subfolders, where each subfolder is named according to the macro catagory (don't know if this is feasible). For example: for rds - [plugins/modules/rds/instance.py, plugins/modules/rds/cluste

[2022-01-27 10:32] markuman commented on #610
That's not that easy I think. For example `wafv2` and `waf` are completely different.
Yes, the GUI is hiding it. But it's a tightrope walk. On the one hand, ansible is a layer that can hide complexity. But on the other hand, you cannot use AWS everywhere without some deeper knowledge.

[2022-01-27 10:36] tremble commented on #610
I like the idea as far as sorting things is concerned.  Do you know if we could reflect this in the FQCN?

[2022-01-27 10:43] alinabuzachis commented on #610
Not really. I'll try to document.

[2022-01-27 13:31] #538 closed, assigned to nobody

[2022-01-27 21:14] jillr opened #645 "4.0.0 release plan"
### Summary

Let's plan the roadmap for [4.0.0](https://github.com/ansible-collections/amazon.aws/pull/639).  Major or breaking changes that we know we want to include:

* [Remove old boto SDK](https://github.com/ansible-collections/amazon.aws/pull/630)
* The Ansible Content team expects to promote a number of community modules to supported status.  That initial list includes (but is not yet limit

[2022-01-27 21:40] #637 closed

[2022-01-27 21:48] tremble commented on #645
At some point I'd really like to make our module naming a little more consistent (#610), I know that for practical purposes this is mostly cosmetic so I wouldn't necessarily expect the Cloud Content team to drive the cleanup work, but it would be nice to define a scheme and if the community has time, try and bump things around a little.

[2022-01-27 22:33] jillr commented on #610
Thanks @tremble for kicking this off!  I concur with generally removing the aws_ prefixes from things like `aws_s3`, but keeping them in specific instances where it makes sense (`aws_region_info` and `aws_caller_info` are the only ones that stand out to me now).

While FQCN's do allow us to have module name collisions and FQCN's are the preferred / recommended way to write tasks, I'd still be hesi

[2022-01-28 09:11] tremble commented on #610
Agreed, the only other one that I can think of is the `aws_account_attribute` lookup plugin.

Yeah, the other one that worries me is the secrets manager service, which only has a single resource type `secrets`.  We either end up with `secretsmanager_secret`, which feels redundant, or `secret` which feels generic enough that collisions are almost guaranteed to happen.  Currently it's `aws_secret`

[2022-01-28 15:13] tremble commented on #645
Nominally we'll also be able to bump minimum botocore / boto3 requirements.

Botocore:
1.20.0 - Tue Feb 2 19:11:44 2021
1.21.0 - Thu Jul 15 18:08:47 2021

Boto3:
1.17.0 - Tue Feb 2 19:11:35 2021
1.18.0 - Thu Jul 15 18:08:55 2021

[2022-01-28 17:48] sebastien-rosset opened #647 "'NoneType' object is not subscriptable error in ec2_vpc_igw module"
### Summary

When submitting #646 to fix bug #622, the integration tests fail in the `ec2_vpc_igw` module. This seems to be unrelated to the changes I made in the `aws_acm` module.

The `ec2_vpc_igw` module fails with `TypeError: 'NoneType' object is not subscriptable`. I don't think the module should ever fail with a NoneType error.

### Issue Type

Bug Report

### Component Name

ec2_vpc_igw

##

[2022-01-28 18:57] jillr commented on #629
I definitely appreciate the problem here, I'm undecided on how we could best solve it though.  The module code that manages rules in ec2_group is fairly complex already, and we've run into bugs in the past when trying to add seemingly small features.  I do believe we have things stable now but generally I think we should remain thoughtful about overloading large modules.  The EC2 API makes it very

[2022-01-28 19:03] sebastien-rosset opened #648 "Make it easier to collect environment when integration tests fail in PR"
### Summary

When opening a new bug, the bug template has fields which are supposed to be populated with the output of commands such as `ansible --version`. This does not work well when an issue is found while running PR tests in zuul.

For example, suppose I submit a PR for module X and a problem in module Y occurs, unrelated to my PR changes. The PR template does not work great because it's not

[2022-01-31 17:23] jillr commented on #610
That plan feels sensible to me, +1

[2022-02-01 10:47] alinabuzachis commented on #647
This PR https://github.com/ansible-collections/amazon.aws/pull/553 should fix it.

[2022-02-01 16:40] charltonstanley opened #650 "ec2_instance - updating user_data doesn't work"
### Summary

When attempting to add user data to an ec2 instance via the `user_data` parameter, the output returns as successful, however the user data is never actually written to the instance.

### Issue Type

Bug Report

### Component Name

ec2_instance

### Ansible Version

[code]

### Collection Versions

[code]

### AWS SDK versions

[code]

### Configuration

[code]

### OS / Environment

a

[2022-02-02 02:47] jatorcasso commented on #459
Hi @csamarajeewa,

I can't reproduce your findings with 1.3.0 of the collection running the following tests. If you can provide more information on how to reproduce the issue, please re-open this issue with those details.

[code]

[2022-02-02 14:56] #459 closed

[2022-02-08 21:04] jillr commented on #628
Any change that modifies existing behaviour would need to maintain the existing behaviour, at least for a deprecation period, so that we don't break user's playbooks.  We'd definitely consider a PR that implements this feature!

[2022-02-08 21:14] jillr commented on #638
Hi @loop-evgeny, could you please try testing with version 1.5 or later of the collection?  You can install the collection from Ansible Galaxy with `ansible-galaxy collection install amazon.aws`.  There was a bugfix in the collection that might address this problem.

[2022-02-09 15:36] #622 closed

[2022-02-09 17:00] Mogooo opened #663 "ec2_vpc_net_info module : Cannot retrieve info from a VPC shared from another AWS account"
### Summary

When I try to describe all of my VPCs in one AWS account where one of my VPC is a VPC shared from another account, I get the following error :
[code]

### Issue Type

Bug Report

### Component Name

ec2_vpc_net_info

### Ansible Version

[code]
[code]

### Collection Versions

[code]

### AWS SDK versions

[code]
[code]

### Configuration

[code]

### OS / Environment

Ubuntu 18.04

#

[2022-02-10 14:52] adamkamali opened #668 "amazon.aws.elb_classic_lb purge_listeners is destructive in nature"
### Summary

Hi Everyone,

I used amazon.aws.elb_classic_lb to add tags to my production env, and all I know is it went and deleted all active listeners, and that took down my production environment.

Checking the docs and I see` purge unlisted listeners` is set to **yes** by default!.

This module behaviour should not be **destructive** in nature. Unless you specifically specify to remove them, t

[2022-02-10 15:38] loop-evgeny commented on #638
Hi @jillr, I'm reluctant to mess with any Ansible installation details, especially when I have a workaround that works. Perhaps someone who already uses Ansible Galaxy could test this.

[2022-02-11 05:51] priyadarshu opened #669 "Not able to create an instance using amazon.aws.ec2_instance"
### Summary

EC2 instance is getting created using [amazon.aws.ec2](https://docs.ansible.com/ansible/latest/collections/amazon/aws/ec2_module.html#amazon-aws-ec2-create-terminate-start-or-stop-an-instance-in-ec2)  but its been **DEPRECATED**

Hence the latest version is [amazon.aws.ec2_instance](https://docs.ansible.com/ansible/latest/collections/amazon/aws/ec2_instance_module.html#amazon-aws-ec2-

[2022-02-11 09:43] alinabuzachis commented on #669
Hi @priyadarshu, thank you for tasing this. According to the `ec2_instance` module documentation, you should specify either `image` (which is a dictionary, see here https://github.com/ansible-collections/amazon.aws/blob/main/plugins/modules/ec2_instance.py#L108) or `image_id` (which is a string).  I would probably suggest replacing `image` with `image_id` in your task, and that should do the job.

[2022-02-11 10:04] alinabuzachis opened #670 "Uniform the behaviour of purge_* parameters"
### Summary

I have noticed that in some modules the purge_ * parameters default either to True or False. I think they should default to False instead. It would probably be best to have this consistent behavior across all modules. This would likely introduce some beraking changes.

### Issue Type

Feature Idea

### Component Name

several modules

### Additional Information

[code]

### Code of Co

[2022-02-11 10:44] alinabuzachis commented on #650
Hi @charltonstanley, thank you for bringing this up. If my understanding is correct, `user_data` can only be set when a new instance is created. Since it is an immutable parameter, you cannot set or change it on an already existing instance.Could you try to set it when you try to create a new instance and let us know please?

[2022-02-11 10:45] tremble commented on #670
+1 to consistent behaviour ( see also consistent module naming :) )

But there's two sides to the default behaviour coin:

As a 'user' I often want purge to default to `False` since it's destructive (and changing from `purge: False` to `purge: True` is less likely to cause widespread damage if people don't notice the deprecation warnings).  Especially for things like Tagging, I often just want to

[2022-02-11 11:53] rikhul opened #671 "No error when missing permission to reboot instance"
### Summary

I'm rebooting ec2-instance by
`      amazon.aws.ec2_instance:
        state: rebooted`

and was quite surprised it returned successfully immediately. Turns out role didn't have permissions to StopInstances,StartInstances.

I would've expected task to fail.

### Issue Type

Bug Report

### Component Name

amazon.aws.ec2_instance

### Ansible Version

[code]

### Collection Versions

[c

[2022-02-11 12:10] priyadarshu commented on #669
Hey @alinabuzachis , thanks for letting me know, it's working now.
I had changed the module name to the newest version but not the key value pairs.

Thanks again, close this issue.

[2022-02-14 18:10] charltonstanley commented on #650
Hi @alinabuzachis thanks for responding!

According to the AWS documentation, it should be possible to modify and ec2 instance's user data—the instance just needs to be stopped in order to modify it. <https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/user-data.html#user-data-view-change> These steps do work from within the AWS console; are you saying that this is it not available via the api?

I

[2022-02-15 16:15] goneri commented on #648
The CI uses the last git branches. So you can just write something like `stable-2.11`. But I agree, it would be nice to improve the field description.

[2022-02-15 21:55] danielmotaleite opened #675 "ec2.py migration documentation"
### Summary

When trying to migrate from the old ec2.py to dynamic inventory aws_ec2, i of course found many different facts and groups. Migrating everything is a huge task in big projects, but the documentation do not help in any way.

Later on irc i was pointed to the page https://docs.ansible.com/automation-controller/latest/html/userguide/inventory_plugins_templates.html where we can find a ex

[2022-02-15 22:03] danielmotaleite opened #676 "use_contrib_script_compatible_ec2_tag_keys compatibility version"
### Summary

In https://docs.ansible.com/ansible/latest/collections/amazon/aws/aws_ec2_inventory.html#parameter-use_contrib_script_compatible_ec2_tag_keys

The use_contrib_script_compatible_ec2_tag_keys do not work in ansible 2.9, but the documentation fail to  specify when it was introduced, so users are left to guess to what version they should upgrade.

Also, the option should point to https://

[2022-02-17 05:50] danielmotaleite opened #681 "aws_ec2 and aws sso login"
### Summary

I have a ansible with aws_ec2 configured and it works fine with normal aws credential ( ~/.aws/credentials and exporting the tokens).
Now my company is migrating to OKTA, so i need to do aws sso login to get permissions for aws. aws cli is working fine after the login, but ansible fails, aws_ec2 report no credentials found

[code]

I tried exporting AWS_PROFILE, setting up in aws_ec2.

[2022-02-17 05:54] danielmotaleite commented on #681
i found in the net this reference for the same problem: https://www.reddit.com/r/ansible/comments/qql86z/how_can_i_use_aws_sso_with_ansible_aws_ec2/
Probably the mujahidk is not really using aws sso login and so just exporting the profile with normal tokens

[2022-02-17 15:42] charltonstanley opened #684 "Implement instance metadata tags support"
### Summary

I would to enable instance metadata tags using `ec2_instance`. Additionally I'd like to be able to query those tags using `ec2_metadata_facts`

### Issue Type

Feature Idea

### Component Name

ec2_instance, ec2_metadata_facts

### Additional Information

This feature will help me to **_enable_** the ability to query instance metadata tags, as well as actually **_query_** instance met

[2022-02-17 19:18] charltonstanley commented on #684
@alinabuzachis I would if I knew a lick of python, but I don't. I'm not afraid to learn though, but my commits might lack sufficient sophistication to be worthy of inclusion in your code base. :smile:

[2022-02-18 03:25] anjo-swe opened #686 "elb_classic_lb - failed to create https listener"
### Summary

When i try to create a classic ELB it fails to add a HTTPS listener even if i provide `ssl_certificate_id`

Locally i fixed the issue by updating https://github.com/ansible-collections/amazon.aws/blob/main/plugins/modules/elb_classic_lb.py#L903
* From: `return snake_dict_to_camel_dict(listener, True)`
* To: `return formatted_listener` (already converted & has `SSLCertificateId`)

###

[2022-02-21 21:56] dnmvisser opened #688 "aws_ec2 inventory does not support configuration through environment variables"
### Summary

I've successfully migrated from `ec2.py` to the new [EC2 inventory source](https://docs.ansible.com/ansible/latest/collections/amazon/aws/aws_ec2_inventory.html). This works great and we can get the same functionality (or better) with just a tiny configuration file.

But, it is not possible anymore to configure it using environment variables.

We use shell wrappers to deploy things, w

[2022-02-22 14:01] IPvSean opened #689 "amazon.aws.ec2_instance throws deprecation warning for teardown"
### Summary

There is a deprecation warning "Default value instance_type has been deprecated, in the future you must set an instance_type or a launch_template. This feature will be removed from amazon.aws in a release after 2023-01-01."  I think this makes sense, except that this particular module does not need the instance_type set at all if you are doing `state: absent`.  I am not sure if we jus

[2022-02-22 20:59] jillr commented on #650
I'm not sure I understand the use case here.  While `user_data` can be modified on a stopped instance, `user_data` scripts are not rerun after instance launch.
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/user-data.html#user-data-console

If you have a PR that solves this we would consider it but it would need to cautious of not triggering an instance stop/start in an unexpected way for use

[2022-02-22 21:14] jillr commented on #668
Hi @adamkamali  I'm very sorry to hear about the impact this had.

While we don't disagree that would be a good default to change, we would need to go through a deprecation period to notify users of a planned change in default behaviour.  Given that Classic LBs will be [discontinued](https://aws.amazon.com/blogs/aws/ec2-classic-is-retiring-heres-how-to-prepare/) on Aug 15th of this year, we are un

[2022-02-22 21:14] #668 closed

[2022-02-23 02:07] jatorcasso commented on #647
@alinabuzachis I'm still running into this issue when running integration tests for `ec2_vpc_route_table`

[code]

[2022-02-23 10:34] alinabuzachis commented on #686
@anjo-swe Thank you for raising this. Would you be willing to open a pull request with your patch and add an integration test for it (if it's not already covered)?

[2022-03-01 15:53] alinabuzachis commented on #681
@danielmotaleite Thank you for raising this. I don't have much experience with aws_ec2, but it seems to me that it does not support SSO. I'll wait for @jillr's confirmation to be sure and further clarification.

[2022-03-01 16:17] #472 closed

[2022-03-02 02:32] jatorcasso commented on #647
So adding a waiter after attaching the igw still isnt enough it seems? Thoughts on waiting for igw after ensuring tags? @alinabuzachis

[2022-03-02 04:09] #462 closed

[2022-03-02 20:13] danielmotaleite commented on #681
If not supported, please upgrade this issue to a feature request, we use OKTA for aws authentication, so this is required... right now, as workaround, we have to login to okta, choose the aws, profile, re-authenticate and copy the AWS_* tokens ... it works, but lot more work and annoying

[2022-03-02 20:15] alinabuzachis commented on #675
@danielmotaleite thank you for raising this. We are going to work on this and update the documentation soon.

[2022-03-02 20:17] alinabuzachis commented on #688
@dnmvisser Thank you for raising this. We will further investigate and get back to you.

[2022-03-02 23:07] jatorcasso commented on #647
The waiter I added after attaching definitely helps - it used to fail about 10% of the time and now its about 2% of the time (I ran bash scripts to run 50 iterations) - but the main problem is just the instability of calling describe_internet_gateways. We might just have to do a manual waiter prior to calling ensure_ec2_tags then again after and just return the gw directly to make 100% sure we hav

[2022-03-03 07:48] tremble commented on #681
@danielmotaleite

The problem is that SFAIK none of the maintainers are using AWS's SSO offering, so we can't even be sure why it's not working, or test any fixes.  I, for example, have direct SAML integration[1] in place, instead of using the additional AWS SSO layer.
  I would have expected that authentication using the profile should have worked, but since I've not used AWS SSO I don't know wha

[2022-03-04 16:03] jatorcasso opened #700 "ec2_vpc_endpoint - InvalidVpcEndpointId.NotFound on creation"
### Summary

While running integration tests for ec2_vpc_route_table (https://github.com/ansible-collections/amazon.aws/pull/690), I got an InvalidVpcEndpointId.NotFound error. After adding the parameter `wait: yes`, I no longer ran into the issue, but I feel that should be the default value on creation, rather than having to explicitly setting a wait parameter. Thoughts?

### Issue Type

Bug Repo

[2022-03-04 18:15] jillr commented on #700
Strictly, if wait=False we should not wait.  We could do something like change https://github.com/ansible-collections/amazon.aws/blob/main/plugins/modules/ec2_vpc_endpoint.py#L379 to a try block, and in the case there the error we catch is `InvalidVpcEndpointId.NotFound` and wait=False we just return without any endpoint details.  I don't like this solution though, personally.

We could also make

[2022-03-04 18:27] jatorcasso commented on #700
Is there an issue with defaulting wait=True?

[2022-03-04 19:04] jillr commented on #700
There's nothing inherently wrong with doing the wait, but it would be a change in the default behaviour of the module so we would have to treat it as breaking.  We can do that, conventionally we're planning for a new major release, but we should have consensus.

[2022-03-07 16:14] jseiser opened #702 "aws_s3 does not support async"
### Summary

Attempting to download multiple items from s3, using async fails.

### Issue Type

Bug Report

### Component Name

aws_s3

### Ansible Version

[code]

### Collection Versions

[code]

### AWS SDK versions

[code]

### Configuration

_No response_

### OS / Environment

_No response_

### Steps to Reproduce

[code]

### Expected Results

Download both items in the loop at the same tim

[2022-03-07 18:46] jw-maynard commented on #566
Hey @abikouo I'm not really familiar with how I could use the plugin from the PR on our AWX instance where we run our Ansilbe usually. I'll see what I can do. Looking at the code it seems like it should solve the issue.

[2022-03-08 07:39] slaterx opened #703 "Implement service discovery service from AWS Cloud Map"
### Summary

I am trying to implement an ecs_service deployment where the availability is defined by endpoints defined in AWS Cloud Map API (https://docs.aws.amazon.com/cloud-map/latest/api/API_CreateService.html). Currently, ecs_service has a capability to use existing Cloud Maps defined externally, but I could not find how to create a new service discovery service using Ansible. The best I could

[2022-03-08 07:39] slaterx commented on #703
If instead this can be implemented today with existing ansible code, I'm happy learn what's the way to implement this.

[2022-03-08 20:35] gravesm commented on #681
@danielmotaleite From what I can tell, boto3 support for AWS SSO was not added until 1.14.0. What happens if you upgrade your boto3 version?

[2022-03-09 15:17] Hokwang opened #704 "[FR] aws_ec2 (dynamic inventory) use "aws ssm get-inventory" info also"
### Summary

Hi,

I think `aws_ec2` plugin use ec2 metadata only,
but user who already set up ssm inventroy can use/get ssm inventroy info, too.

When I was searching aws_ec2 plugin,
there's no way to get OS (distro) info,
and `ansible_distribution` can not use.

so I request the way to get ssm inventory or use directly in aws_ec2 plugin.

Thanks,

### Issue Type

Feature Idea

### Component Name

[2022-03-11 22:27] tkintscher opened #707 "s3_bucket fails if bucket does not exist yet"
### Summary

I am trying to create an S3 bucket on AWS, if it does not exist yet.

This is my task:
[code]

It fails if the bucket does not exist yet (according to the docs, a bucket should be created in this case).
If the bucket already exists, the task completes successfully.

I suspect that it is due to this change:
https://github.com/ansible-collections/amazon.aws/pull/357

For the case of a n

[2022-03-11 22:35] tkintscher commented on #707
As always, one realizes after hitting the Submit button...

The bucket name must be globally unique.
If HeadBucket returns '403', it's either due to insufficient permissions for the IAM user, _or because the bucket name is already taken by someone else_.

[2022-03-11 22:35] #707 closed

[2022-03-14 18:50] Razique opened #709 "ec2_instance module broken in Python 3.8 - dict keys modified during iteration"
### Summary

The `ec2_instance` AWS module doesn't work in Python 3.8. This is due to the fact that the `find_instances` method pops keys from the `filters` dictionary while it is being iterated:

[code]
The fix consists in adding the sanitized keys to a new dictionary and passing it to the paginator instead of modifying the existing one as follows:

[code]

### Issue Type

Bug Report

### Compone

[2022-03-15 06:42] link89 opened #710 "ec2 inventory lost instances if customize dns is set via dhcp options"
### Summary

When I use the default dhpc that assign to my VPC, and use aws_ec2 inventory, everything works fine. But after I create a customize dhcp options that use dns servers (like 8.8.8.8)and set my VPC to use it, the output of the same inventory script will become empty.

### Issue Type

Bug Report

### Component Name

aws_ec2 inventory

### Ansible Version

[code]

### Collection Versions

[2022-03-15 14:44] alinabuzachis commented on #702
@jseiser Thank you for bringing this. @abikouo will probably give it a try.

[2022-03-15 14:59] alinabuzachis commented on #709
@Razique Thank you for raising this. Would you be willing to open a pull request with the patch?

[2022-03-15 20:14] Razique commented on #709
Yup! I can work on this. I'll have to see whether contribution guide differs between AWS community collections and "core".

[2022-03-16 05:14] martinpitt opened #711 "ec2_instance: Create spot instances"
### Summary

The [ec2 module](https://docs.ansible.com/ansible/latest/collections/amazon/aws/ec2_module.html#ansible-collections-amazon-aws-ec2-module) as a big "deprecated" warning, so I'm wary of creating new playbooks/roles with it. However, its successor [ec2_instance](https://docs.ansible.com/ansible/latest/collections/amazon/aws/ec2_instance_module.html#ansible-collections-amazon-aws-ec2-ins

[2022-03-16 09:17] abikouo commented on #702
@jseiser I was not able to reproduce the issue, the async is working properly.
Please be aware that there is an issue with your playbook, there is a missing ``"`` for the second file.
Regarding your output, it seems that your indentation is not good when calling the ``aws_s3`` module, could you update it and run it again? Thanks

[2022-03-16 12:59] jseiser commented on #702
Same issue as before.  Async is not supported.

The problems you mentioned are from me attempting to cleanse my actual code before pasting it.

[2022-03-16 13:20] IPvSean opened #713 "Problem with teardown when you have more than 200 instances"
### Summary

Is there an example role, or documentation for tearing down more than 200+ instances with ec2_instance?  We are hitting scalability issues with this module...

This PR https://github.com/ansible/workshops/pull/1589/files. Will break it up into chunks... so each student (who has 4 instances) will be de-provisoined separately, but this is extremely slow.  We need a way to kill all insta

[2022-03-16 13:32] tremble commented on #713
I don't have any docs to point you to.  For CI there's a custom lambda that runs and deletes things (https://github.com/mattclay/aws-terminator)

If you want an Ansible specific option what I'd probably do, rather than feeding the output of ec2_instance_info directly into ec2_instance, is use the output of ec2_instance_info to generate a hostgroup with 200+ members, you can then run a deletion pla

[2022-03-16 14:48] charltonstanley commented on #650
I re-read the documentation and i found what you were referencing @jillr.

I missed this in my previous read of the documentation. Being that I was able to prove in https://github.com/ansible-collections/amazon.aws/issues/650#issuecomment-1039396713 that user data is properly set on launch/creation, this all seems to be working properly and as expected. It might be helpful to update the [documenta

[2022-03-17 02:51] joonhuang opened #1077 "rds optioin group module should support definition of IAM role with the options, SQLSERVER_BACKUP_RESTORE"

[2022-03-17 11:34] alinabuzachis commented on #711
@martinpitt Thank you for bringing this. The old ec2 module for ec2 instances management has been deprecated and will be removed in the 4.0.0 release of the amazon.aws collection. You should use amazon.aws.ec2_instance instead.

For spot instances management we have dedicated modules - [ec2_spot_instance](https://github.com/ansible-collections/amazon.aws/blob/main/plugins/modules/ec2_spot_instance

[2022-03-17 11:38] martinpitt commented on #711
Ooh, [indeed](https://docs.ansible.com/ansible/latest/collections/amazon/aws/ec2_spot_instance_module.html) -- I totally missed, that, sorry! Cheers!

[2022-03-17 11:38] #711 closed

[2022-03-17 11:40] alinabuzachis commented on #709
@Razique Awesome! Let me know if you need any help. If you want, you can also reach out to us on IRC #ansible-aws.

What you need is a changelog fragment https://docs.ansible.com/ansible/latest/community/development_process.html#id11 and also an integration test for this change.

[2022-03-18 17:39] danielmotaleite commented on #681
@gravesm that is the problem, i upgraded the boto3 to the latest version and aws sso login works with aws_ec2 without issues

I didn't noticed that i was below the boto3 recommended version. Maybe aws_ec2 should warn about a unsupported boto3 version, that would trigger a fix by the user ?

You can reuse this to add this minimum version check, if not, i think this can be closed. Thanks for the hel

[2022-03-21 08:44] Andersson007 opened #720 "Ansible Contributor Summit. Tuesday, April 12, 2022."
##### Ansible Contributor Summit

We are happy to announce that the registration for the [Ansible Contributor Summit](https://hackmd.io/@ansible-community/contrib-summit-202204/%2FlV3o41__RLiX8P2rm-gGKA) is open!

##### Why

- This is a great opportunity for interested people to meet, discuss related topics, share their stories and opinions, get the latest important updates and just to hang out to

[2022-03-21 08:56] Andersson007 commented on #720
bot_skip

[2022-03-21 18:51] jatorcasso commented on #647
I ran into this issue again

[2022-03-21 21:45] #689 closed

[2022-03-23 10:01] alinabuzachis opened #729 "Plugins with missing units/integration"
### Summary

This plugin is not covered by units/integration.
- [x] aws_resource_actions

The following plugin is only covered by units:
- [x] aws_ssm

### Issue Type

Feature Idea

### Component Name

plugins/callback/aws_resource_actions.py
plugins/lookup/aws_ssm.py

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2022-03-23 19:31] jatorcasso opened #733 "module_utils.rds - Broken check_mode with idempotence"
### Summary

When adding integration tests for adding iam_roles support for `rds_instance`, I noticed check_mode tests fail on idempotence checks. This can be explained by how the `call_method` method works:

[code]

Idempotence is handled by catching and parsing errors via the `handle_errors` method, but that doesn't happen on check_mode.

### Issue Type

Bug Report

### Component Name

rds

###

[2022-03-24 12:35] alinabuzachis commented on #733
The problem is probably inside rds_instance because the idempotency in check_mode seems working with this module https://github.com/ansible-collections/community.aws/pull/687. Not sure if this exactly what you looked for.

[2022-03-24 15:04] #733 closed

[2022-03-25 19:59] goneri opened #738 "volume must be from type gp3"
### Summary

https://23a2ceaa2a64dc5cbcfb-fd6ba484f6b5338258f817240cdc03a4.ssl.cf2.rackcdn.com/734/ae8e9dfe6bf822d4ebbb611141d69d0389db6e86/check/integration-amazon.aws-4/b73e89c/job-output.txt

[code]

### Issue Type

CI Bug Report

### CI Jobs

https://23a2ceaa2a64dc5cbcfb-fd6ba484f6b5338258f817240cdc03a4.ssl.cf2.rackcdn.com/734/ae8e9dfe6bf822d4ebbb611141d69d0389db6e86/check/integration-amazon.a

[2022-03-28 08:41] #738 closed

[2022-03-28 11:04] #617 closed

[2022-03-28 14:39] abikouo commented on #710
@link89 Thanks for reporting this issue.
I tried to reproduce using this playbook following all steps provided above, but could not

[code]

Here after the output

[code]

Could you please provide a playbook to reproduce this issue ?

[2022-03-28 14:58] abikouo commented on #566
@jw-maynard  PR has been merged, I am closing this, feel to reopen if the issue occurred again.

[2022-03-28 14:58] #566 closed

[2022-03-28 23:00] heatmiser commented on #713
The issue is due to the underlying `boto3` library: https://github.com/boto/boto3/issues/1099 ...and was previously marked as a feature request, however, the request became stale and removed.  A comment in the aforementioned issue was...
```We typically don't do automatic batch handling unless explicitly called out. The only cases I'm aware of are the dynamodb batch get/write operations. For now y

[2022-03-29 11:01] ralfeus opened #750 "ec2_instance state:rebooted|restarted fails"
### Summary

I try to reboot or restart an instance. The task is:
[code]
or
[code]
I get an error:

[code]

### Issue Type

Bug Report

### Component Name

ec2_instance

### Ansible Version

[code]

### Collection Versions

[code]

### AWS SDK versions

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04

### Steps to Reproduce

[code]

### Expected Results

I expect the instance

[2022-03-29 15:10] abikouo commented on #750
Hi @ralfeus, thanks for raising this!
Could you please provide your collection version using ``ansible-galaxy collection list amazon.aws``

[2022-03-29 16:32] #476 closed

[2022-03-30 06:44] ralfeus commented on #750
***@***.*** ~> ansible-galaxy collection list amazon.aws
usage: ansible-galaxy collection [-h] COLLECTION_ACTION ...
ansible-galaxy collection: error: argument COLLECTION_ACTION: invalid
choice: 'list' (choose from 'init', 'build', 'publish', 'install')

On Tue, Mar 29, 2022 at 5:10 PM abikouo ***@***.***> wrote:

[2022-03-30 18:43] jlosito opened #761 "Set permission when downloading object"
### Summary

It would be nice if I could download an object from S3 using the `amazon.aws.aws_s3` module and set the owner, group, and permissions of the object once its been downloaded onto a VM at the same time.

There are scenarios where I have to download something from S3 which an application requires. The application is running under a specific service account, thus requiring the object to b

[2022-03-30 19:12] jlosito opened #762 "Default behavior of aws_s3 overwrite"
### Summary

I believe the default behavior of the aws_s3 module should be `overwrite: different` instead of `always` in order for the module to be idempotent by default. Every time the module runs with its current default behavior, ansible shows that something has changed. Usually a module will report no changes if ran multiple times by default.

### Issue Type

Feature Idea

### Component Name

[2022-03-31 13:03] #761 closed

[2022-04-01 07:38] markuman commented on #559
There are also reverse DNS parameters in boto3 ec2 run_instance()

[code]

that ` ec2_instance is currently missing

[2022-04-02 18:44] Razique commented on #709
@alinabuzachis I pushed the PR and created a fragment as required. Let me know if I forgot something!

[2022-04-03 12:23] alinabuzachis commented on #647
@jatorcasso Where did you hit this error?

[2022-04-05 15:33] vonschultz opened #768 "ec2_vpc_route_table should support IPv6 routes"
### Summary

When trying to add e.g. the default route for IPv6, `::/0`, it complains that's not a valid CIDR. When IPv6 routes are already in place, it produces warnings saying
[code]
`community.aws.ec2_vpc_route_table` should support IPv6 routes, and gracefully handle any IPv6 routes that are already there.

### Issue Type

Feature Idea

### Component Name

ec2_vpc_route_table

### Additional In

[2022-04-05 15:44] tremble commented on #768
Hi @vonschultz,

Thanks for taking the time to raise this issue.  IPv6 support was added by https://github.com/ansible-collections/amazon.aws/pull/601 and should be available with release 3.1.0 of amazon.aws.

[2022-04-05 20:03] goneri commented on #762
It's a good idea but it's also a breaking change. We should wait for a 3.0 release to introduce a change like this.

[2022-04-06 08:50] vonschultz commented on #768
Ah, nice!

[2022-04-06 09:16] #671 closed

[2022-04-11 13:11] JonasEckhardt opened #770 "device_mapping in amazon.aws.ec2_ami requires root_device"
### Summary

From reading https://docs.ansible.com/ansible/latest/collections/amazon/aws/ec2_ami_module.html I tried creating a minimal working example to create a AMI with an encrypted snapshot:
[code]

Even though specified in the code the snapshot is not encrypted. It was possible to solve this by adding the `root_device_name`:
[code]
To me it would be helpful to add to the description of `devi

[2022-04-11 17:41] fostermi commented on #582
So trying `tag: Tag1,Tag2` still is not doing what I want. I don't have two different hosts with two different tags, I have a single host with two different tags attempting to reproduce Route53 DNS CNAMES. If I use `tag: Tag1,Tag2` where `Tag1=Test1` and `Tag2=Test2` for the same EC2 instance, I get the following:
`    "aws_ec2": {
        "hosts": [
            "Test1"
        ]
    }
`
What I ex

[2022-04-14 08:45] tremble commented on #645
re: schedule - We have a number of deprecations slated for 2022-06-01 - How about we aim for 4.0.0 some time in June?

[2022-04-14 22:28] mandar242 commented on #750
Hi @ralfeus, thank you for reporting this.
can you please try with latest version of `amazon.aws`?
The following playbook successfully works for restarting the specified instance.
[code]

[2022-04-22 15:37] #647 closed

[2022-04-26 19:07] #720 closed

[2022-05-02 01:48] mandar242 commented on #750
Hi @ralfeus, looking at the output of `ansible-galaxy collection list amazon.aws` that you have provided, it appears that you are using an old version of ansible and collections. (probably from a time before the [`list` command was added to ansible-galaxy](https://github.com/ansible/ansible/commit/f506fd4730aec842294933ea2c6656470a09a87a)).
Please can you try to download a more recent collection t

[2022-05-02 01:48] #750 closed

[2022-05-03 10:03] #709 closed

[2022-05-03 19:58] jillr commented on #770
Hi @JonasEckhardt  thanks for reporting this.  Would you like to open a pull request with the documentation change that would have solved this for you?

[2022-05-06 05:20] rosscdh opened #803 "amazon.aws.ec2_instance volumes does not support snapshot_id"

[2022-05-06 13:56] dmsimard opened #804 "Sanity tests failing in amazon.aws"
### Summary

We are running sanity tests across every collection included in the Ansible community package (as part of [this issue](https://github.com/ansible-community/community-topics/issues/96)) and found that ``ansible-test sanity --docker`` against amazon.aws 3.2.0 fails with ansible-core 2.13.0rc1 in ansible 6.0.0a2.

### Issue Type

Bug Report

### Component Name

n/a

### Ansible Version

[2022-05-11 20:47] aioue commented on #468
Just ran into this, the when creating and `ec2_group` I neglected to specify the VPC, so it went into the default one, hence making the reference to it in a different VPC invalid. Would be nice to have a 'does not exist in this VPC' error message but ho-hum.

[2022-05-12 23:01] jatorcasso commented on #633
@tremble I added test cases for `lookup_aws_service_ip_ranges` with `wantlist=False` and they run fine, so it looks like it is a bug in `aws_account_attribute`

[2022-05-13 01:17] jatorcasso commented on #633
closing and moving to ansible/ansible https://github.com/ansible/ansible/issues/77788

[2022-05-13 01:17] #633 closed

[2022-05-14 00:36] dmsimard commented on #804
I've reran the tests against the same release but by installing with ``ansible-galaxy collection install`` instead of the release tarball and this time there's 26 issues instead of 29:
[code]

[2022-05-17 10:03] aobertyshev opened #814 "Composing inventory_hostname manually"
### Summary

Here is my current config:
[code]

Executing it sets inventory_hostname variable(s) to the "Name" tag value. However, I would like to know whether it's possible to create a completely custom inventory_hostname, as I haven't found a clear way to do it by searching through the docs (as far as I understood it's only allowed to use the values from [here](https://docs.aws.amazon.com/cli/la

[2022-05-17 13:32] #628 closed

[2022-05-17 14:45] alinabuzachis commented on #583
@fostermi Could you please give us an update on this issue?

[2022-05-17 16:17] alinabuzachis commented on #582
@fostermi If I have only one host with these tags
[code]
I can verify your issue as I'm getting the same output as yours.

[code]

There's probably a bug somewhere in the code and I am going to try to have a look in the next few days and let you know.

[2022-05-18 12:21] alinabuzachis commented on #570
@rwhagw Thank you for raising this. The values in compose are Jinja expressions and the double quotes that you included are YAML syntax will go away when the file is parsed. Including quotes in the dict values, so that they are valid Jinja expressions, should solve your issue.

If I use location: "'east_coast'", I can see it in the result.

[code]

[2022-05-18 12:27] alinabuzachis commented on #710
@link89 Could you please let us know if the issues still persist and in case have a look at what Aubin suggested?

[2022-05-18 13:11] tremble opened #817 "compare_aws_tags should ignore tags with the prefix 'aws:'"
### Summary

See also: https://github.com/ansible-collections/community.aws/issues/1146

According to the [AWS documentation](https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html#tag-conventions)

The most common use case here is AWS CloudFormation, which adds a "aws:cloudformation:stack-name" tag.  Since we can't manage these tags at all we should probably ignore them for the purposes o

[2022-05-18 14:10] link89 commented on #710
Hi @abikouo @alinabuzachis We figure out a fix, I think we are missing `hostnames` sections in our setup.

[code]

I don't know why it works if we don't change the dhcp setting thought. But it works fine now.

[2022-05-18 17:31] markuman commented on #688
The current `aws_ec2.py` dynamic inventory does not handle custom environment variables like the old one did:

`https://github.com/ansible-community/contrib-scripts/blob/main/inventory/ec2.py#L496`

So at the moment, you can only rely on env variables that are interpretated by boto3. And imo, boto3 does not offer such things.

[code]

afaik that doesn't work, because you must use `-e env=productio

[2022-05-19 09:01] alinabuzachis commented on #681
@tremble Is it worth adding a note for sso concerning boto3 version? The only branch requiring boto3 >= 1.9 is stable-1.5 at the moment.

[2022-05-19 11:00] tremble commented on #681
@alinabuzachis It's documented in https://github.com/ansible-collections/amazon.aws#aws-sdk-version-compatibility since the 2.0 release (where we required `boto3 >= 1.15.0`)

That said, it looks like I didn't update the inventory plugin docs to require a specific version of botocore/boto3. I think we should update this, and I wouldn't consider this a 'breaking' change since it's only documentation

[2022-05-19 14:03] tremble commented on #681
As a bare minimum solution #819

I agree that we should also emit a warning where the minimum requirements aren't met so I'm going to leave this open for now.

[2022-05-19 15:12] markuman commented on #817
imo this must be priorized

[2022-05-19 16:13] alinabuzachis commented on #702
@jseiser Could you please let us know if something has changed meanwhile? Thanks.

[2022-05-19 21:54] paulogodinhoaq opened #824 "ec2_instace assuming Default Subnet instead of Launch Template specified one"
### Summary

When launching an instance from a template, the module will try to use the **default subnet** instead of the one set inside the actual template, conflicting with the Security Group set inside the template and failing to instantiate the machine.

Task:
[code]

Run Command:
`ansible-playbook setup_machine.yml --connection=local -vvv`

The default subnet is used in the call as it is visi

[2022-05-19 22:15] paulogodinhoaq commented on #824
I have confirmed that manually setting the `vpc_subnet_id` is an workaround, but I believe the module should not imply default subnet when dealing with templates.

This works:
[code]

Cheers.

[2022-05-20 17:10] paulogodinhoaq commented on #824
It looks like the `"instance_type": "t2.micro"` is also being sent, even if the template has the instance type properly set. The workaround is to also send the matching `instance_type` in the module usage.

Only way to currently use Launch Templates currently, specifying both `vpc_subnet_id` and `instace_type`
[code]

[2022-05-23 21:47] jatorcasso commented on #814
Hi @aobertyshev ,

Thanks for taking the time to raise this issue. #826 should fix this.

[2022-05-24 09:49] aobertyshev commented on #814
Thank you, frankly I expected it was me not being able to do this properly rather than this feature missing :)

I had a quick look through the PR, do I understand correctly that a new config would look like this:
[code]
or like this:
[code]
E.g. I have a machine on AWS with the tag "Name" of value "prometheus".
Would both of these configs make it possible to refer to this VM as "aws-prometheus" in

[2022-05-24 10:54] jatorcasso commented on #814
Just double checked and you should be able to use the `hostvars_prefix`! So, that would look like:

[2022-05-24 11:53] aobertyshev commented on #814
Thank you for the fast reply.

`hostvars_prefix` is, per documentation, `The prefix for host variables names coming from AWS.`
So, having the following config:
[code]
and executing the following command:
`ansible-inventory -i inventory/aws_ec2.yml --list`
returned:
![image](https://user-images.githubusercontent.com/4324562/170028441-9b73656a-22e6-4b50-83b6-27da6a6e3332.png)

While it does what is

[2022-05-24 21:11] #814 closed

[2022-05-25 12:43] #519 closed

[2022-05-26 16:48] #770 closed

[2022-05-26 19:00] jatorcasso opened #843 "*_info modules missing/inaccurate RETURN data"
### Summary

There are quite a few missing/inaccurate/not detailed enough RETURN values in the info modules. These should be up to date.

### Issue Type

Documentation Report

### Component Name

*_info

### Ansible Version

[code]

### Collection Versions

[code]

### Configuration

[code]

### OS / Environment

_No response_

### Additional Information

_No response_

### Code of Conduct

- [X]

[2022-05-27 08:53] #817 closed

[2022-05-31 01:47] rcousens opened #851 "Extend ec2_metadata_facts to get instance tags"
### Summary

AWS recently added support for retrieving instance tags from the instance metadata service, see: https://aws.amazon.com/about-aws/whats-new/2022/01/instance-tags-amazon-ec2-instance-metadata-service/

A natural fit for including this functionality would be to extend ec2_metadata_facts to support retrieving instance tags, see https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance

[2022-05-31 09:13] alinabuzachis commented on #851
@rcousens Thank you for this feature idea. I think the second option you listed - _"Assume the instance tag metadata functionality is enabled, attempt to retrieve tags, and fail silently when it's not"_ makes more sense to me. Don't know what @tremble @jillr @markuman think about.

[2022-05-31 09:18] #710 closed

[2022-05-31 09:45] markuman commented on #851
Yes, and community.aws supports this already for ec2_launch_template since 3.1.0 and amazon.aws for ec2_instance the support is already in the `main` branch, but not released yet 🚀🚀🚀

Yes, +1 for the second option.

Just a few words more about accessing metadata from the instances itself

### workaround

You can do it already using ansible buildin modules - more or less comfortable

[code]

### pr

[2022-05-31 19:52] goneri commented on #824
Hi @paulogodinhoaq,

You're using a rather oudated copy of amazon.aws. May I ask you to update, just to validate the behaviour you describe is still the same.

[2022-05-31 19:55] goneri commented on #843
Hi @jatorcasso,

For the record, with vmware.vmware_rest, I use some kind of a script to refresh these fields. Ping me if you're interested.

[2022-06-02 17:55] IPvSean opened #859 "ec2_instance module will not return state when state OK (already exists)"
### Summary

In provisioning I am noticing that if I do

-> ec2_instance
-> do something like ec2_tag over the results of ec2_instance

it will work the first time... but ec2_instance will not return instances when it is OK, so subsequent runs will fail

However this will work everytime->

-> ec2_instance
-> ec2_instance_info
-> ec2_tag

This behavior seems wrong to me... it differs from the older

[2022-06-02 17:59] abenokraitis commented on #859
👀

[2022-06-03 07:15] #686 closed

[2022-06-03 10:37] stefangluszek opened #861 "Calculating md5 for the local s3 file uses filename instead of file content"
### Summary

The filename string literal is used instead of the file content when calculating the MD5 checksum of the local file in:
https://github.com/ansible-collections/amazon.aws/blob/b43b1bdaaf46303fd4006802266d515bb5ba6a73/plugins/module_utils/s3.py#L53
This should be:
[code]
This only happens if the ETAG is not Multi-part.

### Issue Type

Bug Report

### Component Name

s3

### Ansible Ver

[2022-06-06 17:31] Tyler-2 opened #863 "aws_s3 can't `put` when bucket has ACLs disabled with `object_ownership` = `BucketOwnerEnforced`"
### Summary

When I try to use `aws_s3 ` to upload a file to a bucket where ACLs are disabled, it fails with:

I suspect that the module is simply attempting to specify ACLs for uploaded files unconditionally, and would either need to check whether the bucket has ACLs disabled before hand, or accept object ACLs as configuration items.

### Issue Type

Bug Report

### Component Name

aws_s3

### An

[2022-06-07 11:46] alinabuzachis commented on #582
Hi @fostermi, could you please give try to https://github.com/ansible-collections/amazon.aws/pull/862 and let me know please if it solves your issue? Thanks.

[2022-06-08 12:50] dahorak opened #870 "ec2_eni: Parameter validation failed:\nInvalid type for parameter Filters[1].Values[0], value: 1, type: <class 'int'>, valid types: <class 'str'>"
### Summary

When I try to create second interface and attach it to EC2 instance using `ec2_eni` module it fails with python traceback:

[code]

I tried it also with different version of Python (3.7, 3.10), but if fails with the same error.

If I tried to define the `device_index` as string (`device_index: 1 | str`), it fails with error:
[code]

### Issue Type

Bug Report

### Component Name

ec2_

[2022-06-09 14:31] ckdecember opened #871 "Lookup Plugins such as amazon.aws.aws_secret will only use the main interpreter"
### Summary

Lookup Plugins such as amazon.aws.aws_secret will only use the main interpreter - ansible_python_interpreter CANNOT override this.

This is not made clear in the documentation.

I was using ansible that was using a python interpreter that did not have the correct python libraries installed.  I used the ansible_python_interpreter to override this behavior to point to the correct set of

[2022-06-09 15:26] #843 closed

[2022-06-10 09:37] abikouo commented on #824
Hi @paulogodinhoaq

Try using ``ansible-galaxy collection install git+https://github.com/ansible-collections/amazon.aws.git``

[2022-06-16 14:54] apsamuel opened #874 "Prompted multiple times when using MFA based access to accounts"
### Summary

When using the `amazon.aws` inventory module to execute ansible tasks against EC2 instances grouped by tag, I am facing an issue where I am being prompted (MFA codes) once for each member of a group. The result is running a task against a group with 4 active instances, which will prompt for MFA 4 times. My expectation is that it would request MFA once, and possibly cache the credentia

[2022-06-16 19:31] bshelton opened #875 "Ability to use environment Variable "AWS_REGION" in inventory plugin."
### Summary

When using the dynamic inventory plugin (aws_ec2) and not defining a list of regions available, it seems that a boto client for all available regions gets created.

Would it be possible to default this to the environment variable of "AWS_REGION" or reference this environment variable within the yaml configuration file?

https://github.com/ansible-collections/amazon.aws/blob/main/plugi

[2022-06-20 21:50] jsalatiel opened #879 "Create module for managing Amazon Data Lifecycle Manager policies"
### Summary

Would it be possible to create a module to manage Amazon Data Lifecycle Manager policies?

### Issue Type

Feature Idea

### Component Name

amazon.aws.ec2_dlm

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2022-06-21 13:29] #440 closed

[2022-06-24 07:38] #610 closed

[2022-06-24 10:39] #582 closed

[2022-06-24 11:36] alinabuzachis commented on #583
@fostermi I'm going to close this issue. Please give a try to this patch https://github.com/ansible-collections/amazon.aws/pull/862 and feel free to open a new issue if you are still facing the issue. Thanks.

[2022-06-24 11:36] #583 closed

[2022-06-24 19:08] fostermi commented on #582
Thanks! I think this is working. Having trouble trying to install this collection using `ansible-galaxy` with the URL of the repo. I ended up with version `5.0.0-dev0` by doing `ansible-galaxy collection install git+https://github.com/ansible-collections/amazon.aws.git` but this version seems to have the fix. I'll wait to see when this gets tagged to a version that I can pull using `ansible-galaxy

[2022-06-25 06:52] tremble opened #901 "5.0.0 release plan"
### Summary

**Target Date: 2022-09-22** *(non-binding)*

Now that we've branched stable-4 we can put together initial plans for the 5.0.0 release

In the [May working group meeting](https://meetbot.fedoraproject.org/ansible-aws/2022-05-26/ansible_aws_community_meeting.2022-05-26-17.33.log.html) we discussed initially pencilling in 2022-09-22 as a release date.

### Issue Type

Feature Idea

### C

[2022-06-25 07:06] tremble commented on #901
Initial items I can think of

- [ ] **Possibly** some refactoring work around non-module plugins (#872)
- [ ] ``purge_tags`` default switch over to ``True`` (when ``tags`` is not ``None``)
- [ ] ``ec2_ami`` deprecations
- [ ] ``ec2_vpc_dhcp_option_info`` deprecations
- [ ] ``s3_bucket`` deprecations
- [x] Rename ``ec2_group`` to ``ec2_security_group``

I'm assuming the Ansible Cloud Content team w

[2022-06-25 07:07] #645 closed

[2022-06-25 07:09] tremble commented on #645
4.0.0 is out : https://github.com/ansible-collections/amazon.aws/releases/tag/4.0.0

[2022-06-26 15:40] thomaszooman opened #1116 "AWS Lambda layers support"
### Summary

AWS Lambda now supports layers, it can reduce the code size and time spend dramatically. To support Lambda layers, it should be a new module to manage Lambda layers and update `lambda` module to support Lambda layers.

### Issue Type

Feature Idea

### Component Name

lambda

### Additional Information

example of the `lambda_layers` module. `lambda get-layer-version` can retrieve the

[2022-06-27 13:49] alinabuzachis commented on #650
@charltonstanley if you could open a PR to update the module's documentation that would be great!

[2022-06-28 19:59] jillr commented on #859
@IPvSean if I understand correctly, the scenario is that you run the playbook once to create the instances and everything works properly.  If you run the playbook a second time, the `ec2_instance` task sees that the instances already exist so it does not act.  Generally, CUD modules do not perform `list` or `describe` operations so no information about the instances is returned. Then, the `ec2_tag

[2022-06-28 19:59] #859 closed

[2022-06-28 20:06] jillr commented on #871
Hi @ckdecember  All lookup plugins in Ansible execute on the controller. https://docs.ansible.com/ansible/devel/plugins/lookup.html

I can see how that statement would be easy to miss in the docs though, you might want to file a documentation bug against the Ansible user guide in https://github.com/ansible/ansible.

[2022-06-28 20:06] #871 closed

[2022-06-28 20:22] jillr commented on #875
Hi @bshelton.  I can understand how this functionality would be beneficial in your situation.  However this would be a pretty impactful breaking change in this plugin as historically we've never read AWS_REGION from env vars, so that value has never had an effect in inventory collection.  This is not something we're able to consider implementing at this time.

[2022-06-28 20:22] #875 closed

[2022-06-28 22:28] jillr commented on #901
Migrate modules to amazon.aws:

- [ ] aws_kms*
- [ ] elb_application_lb*
- [ ] iam_user*
- [ ] iam_policy*
- [ ] iam_role*
- [ ] ec2_asg*
- [ ] ec2_eip*
- [ ] lambda.py and lambda_info.py
- [ ] rds_instance*
- [ ]  route53.py and route53_info.py

Possibly more but this is the known list now.

[2022-06-30 07:46] cgeorgelee opened #907 "Ansible fails with "worker found in a dead state" when we try to access amazon.aws.aws_secret on OSX"
### Summary

When I try to lookup amazon.aws.aws_secret on OSX it fails with

"ERROR! A worker was found in a dead state"

The script run on AWS Linux 2 but does not run locally. I have made it grab the secrets before but now the script fails consistently. I have also run with
[code]

Have also tried with
the flags `-vvvv -f1` but the debug does not print additional useful information and the `-f1

[2022-06-30 07:55] Akasurde commented on #907
@cgeorgelee Thanks for reporting this issue. This issue is already known and documented [here](https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#running-on-macos). There is very little Ansible can do regarding this as this issue is related to the macOS forking model. You can read more about this in [this thread](https://github.com/ansible/ansible/issues/76322#issuecomment-97412

[2022-06-30 07:55] #907 closed

[2022-07-03 12:52] RoieRMeta opened #911 "ec2_vol plugin v4.0.0 failed to run using ansible 2.9.6"
### Summary

Jul 03 12:26:20 ip-172-16-8-242 cloud-init[833]: fatal: [localhost]: FAILED! => {"changed": false, "module_stderr": "Traceback (most recent call last):\n  File \"<stdin>\", line 102, in <module>\n  File \"<stdin>\", line 94, in _ansiballz_main\n  File \"<stdin>\", line 40, in invoke_module\n  File \"/usr/lib/python3.8/runpy.py\", line 207, in run_module\n    return _run_module_code(co

[2022-07-03 14:34] tremble commented on #911
@RoieRMeta

Thanks for taking the time to open this issue.

The specific issue you're hitting is fixed by upgrading to at least Ansible 2.9.10.  As such we won't be fixing this issue.

Please also note that upstream support for Ansible 2.9 has been dropped: https://github.com/ansible-community/community-topics/issues/50#issuecomment-959549063.

[2022-07-03 14:34] #911 closed

[2022-07-05 09:25] Akasurde opened #912 "ansible-inventory failed to parse aws_ec2.yml with aws_ec2 plugin"
_From @alephgamma on Jul 04, 2022 20:38_

### Summary

I have a new control-node and I can no longer run an aws_ec2 dynamic inventory. Collection amazon.aws is installed.

### Issue Type

Bug Report

### Component Name

amazon.aws 4.0.0

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Centos 8 Stream

### Steps to Reproduce

[code]

### Expected Results

$ ansible-inv

[2022-07-05 09:41] alinabuzachis commented on #912
[@Akasurde](https://github.com/Akasurde) Thank you for reporting this. Could you please specify the FQDN plugin: amazon.aws.aws_ec2 instead and let m know if that solves? I'm writing a documentation guide for the inventory plugin that might clarify its usage https://github.com/ansible-collections/amazon.aws/pull/904/files.

[2022-07-05 10:09] Akasurde commented on #912
This is original reported by @alephgamma

[2022-07-05 16:32] andrew-pickin-epi commented on #589
This is still an issue. At least for `security_group_names`.
https://github.com/ansible-collections/amazon.aws/pull/594 doesn not work is the ELB does not exist.

[2022-07-05 23:40] andrew-pickin-epi opened #914 "elb_classic_lb still failing on creation if security_group_names given"
### Summary

If elb doesn't exist and `security_group_names` specified. Then modules fails.

### Issue Type

Bug Report

### Component Name

elb_classic_lb

### Ansible Version

[code]

### Collection Versions

[code]

### AWS SDK versions

[code]

### Configuration

[code]

### OS / Environment

EC2 Ubuntu

### Steps to Reproduce

See
https://github.com/ansible-collections/amazon.aws/pull/594#pul

[2022-07-09 19:31] alephgamma commented on #912
The fully qualified collection name is:

$ ansible-galaxy collection list amazon.aws

# /home/centos/.ansible/collections/ansible_collections
Collection Version
---------- -------
amazon.aws 4.0.0

# /usr/lib/python3.8/site-packages/ansible_collections
Collection Version
---------- -------
amazon.aws 2.1.0

[2022-07-10 07:38] tremble commented on #923
@sebastien-rosset I think this would be a really good addition to our documentation, however the docs for amazon.aws and community.aws live over in amazon.aws. so I've transferred this issue over to amazon.aws

[2022-07-10 09:24] tremble commented on #924
I've bumped this issue over to amazon.aws which is where the more comprehensive documentation for amazon.aws *and* community.aws lives.

[2022-07-10 15:19] tremble commented on #804
Fixed a while back

[2022-07-10 15:19] #804 closed

[2022-07-11 11:50] tobiasehlert opened #925 "Unable to import amazon.aws.ec2_instance due to invalid syntax"
### Summary

I try to use the amazon.aws.ec2_instance module from the amazon.aws collection, but it returns that there is some syntax error when importing.

Works perfect to run various other modules, it's just the ec2_instance one that always fails (tested multiple examples as well).

[code]

### Issue Type

Bug Report

### Component Name

ec2_instance

### Ansible Version

[code]

### Collection

[2022-07-11 12:01] tremble commented on #925
Hi @tobiasehlert,

We have sanity tests which should generally block code that can't be imported.

Looking at the information you've provided, it looks like you're using Python 2.7.  This collection has dropped support for Python 2.7 due to the boto3 and botocore SDKs dropping support for Python 2.7.  Assuming you're trying to use a recent copy of the collection rather than the version shipped wit

[2022-07-11 12:01] #925 closed

[2022-07-11 12:06] tremble commented on #925
Just a quick note ec2_instance does indeed have non-Python 2.7 code:

[code]

It is however valid Python 3.6+:
[code]

[2022-07-11 13:47] tobiasehlert commented on #925
Thanks @tremble!

Switched to a Ubuntu based GitHub runner from Amazon Linux 2 and there Ansible was running with Python 3.
Now my playbook works as expected :)

[2022-07-14 16:22] briantist opened #927 "Some code paths in `ec2_instance` are not using `AWSRetry`"
### Summary

Example from @tremble :
https://github.com/ansible-collections/amazon.aws/blob/main/plugins/modules/ec2_instance.py#L1937

I'm hitting certain issues where it seems that some retries are being performed but it's not doing the 10 retries that the collection defaults to and instead is failing after 4.

### Issue Type

Bug Report

### Component Name

ec2_instance

### Ansible Version

[c

[2022-07-14 18:22] stephenhoran opened #1076 "rds_cluster has no engine_mode support"
### Summary

The current rds_cluster module has no support for engine_mode which enables support for serverless rds clusters. Engine_mode is returned in the response but not an available parameter.

### Issue Type

Feature Idea

### Component Name

rds_cluster

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2022-07-15 11:39] #927 closed

[2022-07-19 16:16] #863 closed

[2022-07-19 17:37] alinabuzachis commented on #912
@alephgamma

Could you please try with the following configuration file and let me know please? Thanks.

aws_ec2.yml
[code]

[2022-07-22 19:06] alephgamma commented on #912
I get the same error...

$ ansible-inventory -i aws_ec2.yml --list
[WARNING]:  * Failed to parse /home/centos/aws_ec2.yml with auto plugin: The ec2 dynamic inventory plugin
requires boto3 and botocore.
[WARNING]:  * Failed to parse /home/centos/aws_ec2.yml with yaml plugin: Plugin configuration YAML file, not YAML
inventory
[WARNING]:  * Failed to parse /home/centos/aws_ec2.yml with ini plugin: In

[2022-07-22 20:04] arturrez commented on #912
Can confirm.
I see the same issue

[2022-07-26 04:20] cmbrad opened #942 "ec2_metadata_facts may fail with ansible-core 2.13+"
### Summary

When using ansible-core 2.13+ (ansible 6.0.0+) ec2_metadata_facts may fail.

This occurs when an endpoint (such as http://169.254.169.254/latest/meta-data/public-keys/) is enumerated and results in endpoints that return 404. This occurs for public-keys specifically as the enumeration returns the name of the public key, but the name is not valid as an endpoint - just the ID.

A breakin

[2022-07-27 09:49] #942 closed

[2022-07-27 15:24] avery-blanchard opened #944 "Boot mode and TPM support for AMI creation"
### Summary

I would like to use ansible to create an AMI with UEFI secure boot and TPM support. In the [ec2_ami module](https://docs.ansible.com/ansible/latest/collections/amazon/aws/ec2_ami_module.html#ansible-collections-amazon-aws-ec2-ami-module), there are currently no parameters to do so. As UEFI and TPM support for Linux AMIs is new for AWS, I think it would be a useful new feature to add p

[2022-07-29 16:05] autoctrl1 opened #945 "Issues with ec2_instance.py The error was: TypeError: 'NoneType' object is not subscriptable"
### Summary

When trying to start or run tasks to stop or start an ec2 instance getting the following error when using the amazon.aws 3.0.0 collection

/ansible_amazon.aws.ec2_instance_payload.zip/ansible_collections/amazon/aws/plugins/modules/ec2_instance.py\\", line 1501, in get_default_subnet\\nTypeError: 'NoneType' object is not subscriptable\\n", "module_stdout": "", "msg": "MODULE FAILURE\\n

[2022-07-30 13:35] tremble commented on #945
Thanks for taking the time to open this issue.  This appears to be a duplicate of #467

[2022-07-30 13:35] #945 closed

[2022-08-01 15:31] lkatalin commented on #944
cc-ing myself as this is a joint issue submission with @avery-blanchard
cc @lkatalin

[2022-08-03 15:11] yamjoepobuda opened #950 "aws_ec2 inventory running against the same host multiple times"
### Summary

We recently bumped `amazon.aws` collection to `4.1.0` from `4.0.0` and started experiencing errors due to process locks and other similar errors. We found that the inventory file was being parsed incorrectly. Instead of processing each host once, it appears to be processing each host for every IP address it has, in addition to the usual tag we use to name hosts.

### Issue Type

Bug R

[2022-08-03 15:13] yamjoepobuda commented on #950
Possibly relevant, our aws_ec2.yml:
[code]

[2022-08-04 18:38] GomathiselviS commented on #912
Hi @alephgamma From the warning message that your playbook throws, I see that your env is missing boto3 and botocore. Can you please install the packages and try again?

[2022-08-04 22:50] alephgamma commented on #912
boto3 and botocore are already installed. Am I missing something?
=============
(provision-aws-vms-venv) [centos@control-node-2 provision-aws-vms-venv]$ pip freeze
awscli==1.25.22
boto3==1.24.22
botocore==1.27.22
colorama==0.4.4
docutils==0.16
jmespath==1.0.1
pyasn1==0.4.8
python-dateutil==2.8.2
PyYAML==5.4.1
rsa==4.7.2
s3transfer==0.6.0
six==1.16.0
urllib3==1.26.9

[2022-08-05 02:44] setswei commented on #912
I have also run into this issue today. I can confirm boto3, botocore and awscli are installed. I have also created a local ansible config file only enabling the amazon.aws.aws_ec2 plugin (just to remove the extra log data generated by other plugins.

[code]

I have stripped my inventory.yml file back basics, I am only targeting running instances in the ap-southeast-2 region.

[code]

The debug sho

[2022-08-05 04:48] tremble commented on #912
@setswei, the output you've provided doesn't have the same warning message (`The ec2 dynamic inventory plugin requires boto3 and botocore.`)

The problem you're seeing is the name of your inventory `rabbitmq_servers.yml`.  @alinabuzachis is working on some docs around the plugin (https://github.com/ansible-collections/amazon.aws/blob/df93827667406354ba65732d9f90c4f79292b60d/docs/docsite/rst/aws_ec

[2022-08-05 04:52] setswei commented on #912
thanks for that. that has resolved my issue

[2022-08-05 12:57] GomathiselviS commented on #912
@alephgamma Can you please run your playbook from the same env where you checked for the boto3 pkg and provide the output? Please use -vvv option along with the command. This will give more debug info.

'ansible-inventory -i aws_ec2.yml --list -vvv'

[2022-08-05 18:10] alephgamma commented on #912
(provision-aws-vms-venv) [centos@control-node-2 provision-aws-vms-venv]$ tree -pu .
.
├── [-rw-rw-r-- centos  ]  ansible.cfg
├── [-rw-rw-r-- centos  ]  inventory
└── [drwxrwxr-x centos  ]  playbooks
    ├── [-rw-rw-r-- centos  ]  aws_ec2.yml
    └── [-rw-rw-r-- centos  ]  provision_aws_vms.yml

1 directory, 4 files

(provision-aws-vms-venv) [centos@control-node-2 provision-aws-vms-venv]$ ansible-i

[2022-08-05 21:01] GomathiselviS commented on #912
@alephgamma Can you please make sure boto3 and botocore are under /usr/lib/python3.8/site-packages/ in your env? If the packages are installed, the following warning should not be thrown. I think they are installed under another python version.

'[WARNING]: * Failed to parse /home/centos/provision-aws-vms-venv/playbooks/aws_ec2.yml with auto plugin: The ec2 dynamic inventory plugin requires boto3

[2022-08-05 23:35] alephgamma commented on #912
The were no boto3 nor botocore directories in /usr/lib/python3.8/site-packages/
... but they were in /usr/local/lib/python3.8/site-packages/
I manually copied everything from /usr/local/lib/python3.8/site-packages/ to  /usr/lib/python3.8/site-packages/ - restarted the virtual env and it works.

[2022-08-06 05:53] tremble commented on #912
boto3 and botocore are documented requirements for the EC2 inventory plugin (and the collection in general).  As such I'm going to close this issue.

[2022-08-06 05:53] #912 closed

[2022-08-10 05:37] ichekaldin opened #1080 "cloudwatchevent_rule always reports Changed = True"
### Summary

`cloudwatchevent_rule` module always reports `Changed` = `True`.

I believe this is caused to ansible-collections/community.aws#1355.

Output of boto3 `describe_rule` method only includes previously specified parameters. Therefore AWS `_rule_matches_aws` method ends up comparing something like this:

[code]

with `describe_rule` output that looks like this:

[code]

### Issue Type

Bu

[2022-08-10 15:06] gregharvey commented on #950
We are also seeing this exact issue.

[2022-08-10 20:10] nethershaw opened #963 "ec2_instance should still return instance details when instances already exist"
### Summary

I am duplicating issue #859 because it was incorrectly closed.

Idempotency -- the core design pattern and expectation on which Ansible is built -- requires that the module's return data be complete and consistent whether a change occurs or not. Any instances that matched `filters` passed to the module because they already exist must be included in the module's `instances` return key.

[2022-08-11 05:00] tremble commented on #963
@nethershaw,

Thanks for taking the time to open this issue.  I personally prefer to consistently return details of the resource, even when no changes are made.  I've tweaked the subject line a little, to reflect the desired change as this makes it easier for other people to find the issue.

[2022-08-11 09:51] akiuni opened #966 "s3_object - ignore_nonexistent_bucket is not used when listing a bucket"
### Summary

When ansible has the permission to read a subpath of a bucket but not the root path, the list mode fails with a 403 error:

Example:
[code]
Error message:
`An error occurred (403) when calling the HeadBucket operation: Forbidden",`

My suggestion would be to use the `validate` argument in line [1155](https://github.com/ansible-collections/amazon.aws/blob/c59dd15478565485374800f17aa154

[2022-08-11 11:11] imesias opened #1075 "rds_param_group missing support for RDS cluster parameter group"

[2022-08-12 14:20] #966 closed

[2022-08-15 03:32] RonneGisun opened #969 "ec2_instance enable hibernate option for instance_initiated_shutdown_behavior"
### Summary

I am trying to launch new EC2 instances with the 'stop hibernate' option enabled, as per options available in AWS Console.
https://aws.amazon.com/about-aws/whats-new/2019/10/amazon-ec2-hibernation-now-available-on-windows/

### Issue Type

Feature Idea

### Component Name

ec2_instance

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code o

[2022-08-16 14:31] alinabuzachis commented on #969
@RonneGisun Thank you for this feature idea. Would you be willing to work on this functionality and open a pull request?

[2022-08-16 20:00] mfann-or opened #970 "ec2_ami: Add support for sharing AMIs on Organizations level or to OUs"
### Summary

It would be very beneficial to have the ability to share an AMI across an Organization or OUs since AWS has added that ability.

[A similar issue was introduced to Packer's Amazon Plugin.](https://github.com/hashicorp/packer-plugin-amazon/issues/156)

`org_arns` and `ou_arns` could be added to the `launch_permissions` paramater.

### Issue Type

Feature Idea

### Component Name

ec2_a

[2022-08-17 00:36] RonneGisun commented on #969
@alinabuzachis Sorry, but I couldn't justify spending time on this right now. I'm a team of one, and have a long to do list.

[2022-08-26 02:04] rbobrowicz opened #980 "ec2_instance: instance_type should not be required to start/stop instances"
### Summary

Hello,

I have some old ansible scripts using the old `ec2` module that I'm updating to use the new `ec2_instance` module and I'm getting some deprecation warnings that I think don't really make sense. What I'm essentially trying to do is to start/stop instances matching a tag. I have these scripts to do this:

[code]

and

[code]

When I run these I get this deprecation warning:

[co

[2022-08-26 10:15] alinabuzachis commented on #980
@rbobrowicz Thank you for bringing this. Feel free to open a pull request with this contribution. Add [a changelog fragment](https://docs.ansible.com/ansible/latest/community/development_process.html#creating-changelog-fragments) also please.

[2022-08-26 10:18] alinabuzachis commented on #969
@RonneGisun Could you please try this PR https://github.com/ansible-collections/amazon.aws/pull/972 and let us know if it addresses what you requested? Thanks.

[2022-08-26 10:20] alinabuzachis commented on #676
@danielmotaleite Has been addressed by https://github.com/ansible-collections/amazon.aws/pull/858

[2022-08-26 10:20] #676 closed

[2022-08-26 10:22] #681 closed

[2022-08-26 13:30] GomathiselviS commented on #193
@mkyrianov This issue can be resolved by using `cloudformation_info` instead of `cloudformation_facts`. `cloudformation_facts` module is deprecated from amazon.aws 3.0.0 onwards. Please run your task with `cloudformation_info` module and let us know the result.

[2022-08-26 22:10] RonneGisun commented on #969
@alinabuzachis Sorry I'm on holiday now, it might be sometime before I can get to this.

[2022-08-31 17:11] ericcames opened #989 "amazon.aws.ec2_instance_info - is not allowing de-referencing of registered variables"
### Summary

amazon.aws.ec2_instance_info - is not allowing de-referencing of registered variables

JSON:

{
  "msg": "The task includes an option with an undefined variable. The error was: 'dict object' has no attribute 'public_dns_name'\n\nThe error appears to be in '/runner/project/aws_get_instance_info.yml': line 13, column 9, but may\nbe elsewhere in the file depending on the exact syntax pro

[2022-09-01 19:28] gravesm commented on #989
@ericcames The return value of the `ec2_instance_info` module puts all the instances under an `instances` key. You would need to do something like this:
[code]
See https://github.com/ansible-collections/amazon.aws/blob/main/docs/amazon.aws.ec2_instance_info_module.rst#return-values for more info.

[2022-09-01 19:58] sethernet opened #1081 "Add support for FunctionResponseTypes in lambda_event module"
### Summary

Please add support to set FunctionResponseTypes when creating lambda event source mappings

https://docs.aws.amazon.com/lambda/latest/dg/API_CreateEventSourceMapping.html#API_CreateEventSourceMapping_RequestSyntax

### Issue Type

Feature Idea

### Component Name

lambda_event

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2022-09-01 21:16] ericcames commented on #989
Works perfectly!  Thank you for the help!!  [https://github.com/ericcames/AWS/blob/main/aws_get_instance_info.yml](url)

[2022-09-01 21:23] #989 closed

[2022-09-06 11:10] #980 closed

[2022-09-07 13:06] #663 closed

[2022-09-07 14:52] GomathiselviS commented on #193
The issue is fixed with cloudformation_info module from amazon.aws 3.0.0. Hence closing this issue.

[2022-09-09 09:13] alinabuzachis commented on #901
**Reminder: Please also migrate the open GitHub issues of the modules we are migrating!**

[2022-09-09 14:23] ljkimmel commented on #111
@goneri I see that you acknowledged the recommendation from @tschoonj but the issue was still closed. I think the issue here may not be that the URL is aging out but rather it's that the security configuration of the target bucket/object requires that sigV4 be used to access it. Botocore defaults `presign` requests to sigV2 and this module has no way to override that. There should be a module argu

[2022-09-09 16:47] jjshoe commented on #681
This can actually happen to this day, if you're authed in a gov cloud region, and try to get a list from a commercial region. It seems like a warning should be thrown/regions disabled, when trying to get a list of contents for a region you don't have access to?

Grab the region they authed with, if gov cloud, disable all commercial. I'm guessing govcloud is disabled by default, and it's not an iss

[2022-09-09 18:24] zollo opened #1013 "Add Support for signature version 4 to the s3_object "geturl" mode"
### Summary

Implement support for for AWS SigV4 in order to support any security controls that require it for S3 download operations. Ideally this would be enabled via a boolean flag that is defaulted to false.

### Issue Type

Feature Idea

### Component Name

s3_object

### Additional Information

N/A

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2022-09-12 08:19] 0xsudo commented on #912
I have followed both you solutions and still getting the same error as below:

$ ansible-inventory -i inventory.aws_ec2.yaml --list -vvv
ansible-inventory [core 2.13.3]
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/anon/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /home/anon/.local/lib/python3.10/site-packa

[2022-09-12 09:28] tremble commented on #912
@0xsudo "Failed to parse inventory" is a very generic error.  Unfortunately the way Ansible handles errors when using dynamic inventories results in multiple error messages (because it retries using different plugins)

However, If you take a look at the first warning Ansible spat out, you can see the problem:
```Insufficient credentials found: The config profile (devopsrole) could not be found```

[2022-09-12 12:08] 0xsudo commented on #912
I have:
- changed all directories and file recursively under /home/anon/.local/lib/python3.10/site-packages/* and /etc/ansible/* to belong to my user
- changed all boto3 and boto-core files and their dependacies to point to /home/anon/.local/lib/python3.10/site-packages/ as below

$ pip3 install boto3
Defaulting to user installation because normal site-packages is not writeable
Requirement already

[2022-09-12 18:53] goneri commented on #861
Hi @stefangluszek,

The `module.md5()` call triggers `AnsibleModule.digest_from_file(filename, 'md5')`
See: https://github.com/ansible/ansible/blob/a26c325bd8f6e2822d9d7e62f77a424c1db4fbf6/lib/ansible/module_utils/basic.py#L1544

I opened a PR to cover the `calculate_etag()` function with unit-tests. https://github.com/ansible-collections/amazon.aws/pull/1015

I close the issue, feel free to reope

[2022-09-12 18:53] #861 closed

[2022-09-13 17:53] samccann opened #1020 "Galaxy module links now broken"
### Summary

### Summary

This is a side effect of replacing  the .rst files in the repo with a github-generated docsite.

This caused a few issues:
1 - galaxy readme links are now broken because the readme points to .rst files that were removed from the repo. This is probably fixed as soon as the next `amazon.aws` release picks up the new readme file.
2 - The new readme file always points to the

[2022-09-14 09:13] #1020 closed

[2022-09-14 18:32] lkatalin commented on #944
Just curious, which is the PR for this issue? I see the "has PR" label was added.

[2022-09-14 19:43] Tyler-2 opened #1074 "rds_param_group doesn't check DBParameterGroupFamily"
### Summary

When managing an RDS DB Parameter Group with the rds_param_group module, the module will happily create a parameter group with the specified engine, but it will not fail / error when you pass it an engine that would require modification.

For instance... This will create a parameter group:

[code]

But running this afterwards and changing the `engine` to `aurora-postgresql14` will pas

[2022-09-15 13:43] ofirhazam opened #1083 "failure in last version"
### Summary

when I try
- name: Gather reporter NLB info
      community.aws.elb_application_lb_info:
        region: "{{aws_region}}"
        names: "{{ott_ad_reporter_nlb}}"
it fails

TASK [ott-ad-reporter : Gather reporter NLB info] **********************************************************************************************************************************************************
task path

[2022-09-16 19:15] goneri commented on #950
This PR should resolve the problem: https://github.com/ansible-collections/amazon.aws/pull/1026
It introduces a new configuration key called `allow_duplicated_hosts` that default to False. `False` is the old behaviour, `True`, the new one.
Can you please give it a try?

The PR is still marked a WIP (WorkInProgress) because I need to refresh the functional tests.

[2022-09-20 12:22] briantist opened #1038 "Use `AWSRetry` on ec2 launch failures due to lack of capacity (`InsuffienctInstanceCapacity`)"
### Summary

Similar to #927

I've hit some errors in launching ec2 instances where AWS was out of capacity for the specific instance type in that AZ (`InsuffienctInstanceCapacity`), however, it failed with the boto default of 4 retries. Like other operations, it could be useful to have more than 4, and it would be nice to have consistency with the other operations.

I am not sure exactly where in

[2022-09-20 12:28] tremble commented on #1038
My experience with InsuffienctInstanceCapacity is that waiting a few minutes wouldn't be sufficient.  Have you experienced cases where you've been able to grab capacity after retrying?

[2022-09-20 12:33] tremble commented on #1038
An example of how to inject additional codes to retry can be found in [ec2_vpc_net](https://github.com/ansible-collections/amazon.aws/blob/main/plugins/modules/ec2_vpc_net.py#L653)

[code]

( Different error code needed ;) )

[2022-09-20 12:50] briantist commented on #1038
Yes, this came from a CI pipeline I have (internal), after several tries, most of them did find capacity (it was probably launching a few dozen instances). In the end, these are test/molecule instances and the instance type isn't terrible important, so I changed from `m6i` to `m6a` and it was fine.

I do agree that retrying is not always going to work (or perhaps not even usually), but as long as

[2022-09-20 14:17] #969 closed

[2022-09-20 15:28] #1038 closed

[2022-09-20 17:43] samccann opened #1041 "Consider using true/false for all booleans in docs"
### Summary

Based on the [community decision](https://github.com/ansible-community/community-topics/discussions/120) to use `true/false` for boolean values in documentation and examples, we ask that  you evaluate booleans in this collection and consider changing any that do not use `true/false` (lowercase).

### Issue Type

Documentation Report

### Component Name

docs

### Ansible Version

[cod

[2022-09-20 17:46] samccann commented on #1041
related to https://github.com/ansible-community/community-team/issues/60

[2022-09-20 18:00] samccann opened #1042 "Consider adding changelogs to your collection documentation"
### Summary

A collection owner recently tested out the ability to include their [changelogs directly on docs.ansible.com](https://docs.ansible.com/ansible/devel/collections/community/hashi_vault/index.html#changelog). See https://github.com/ansible-collections/community.hashi_vault/pull/299 if you want to consider using this approach on your collection.

### Issue Type

Documentation Report

###

[2022-09-20 18:00] samccann commented on #1042
related to https://github.com/ansible-community/community-team/issues/61

[2022-09-21 13:01] pfuntner opened #1048 "ec2_metadata_facts: "'NoneType' object is not callable" for EL7 instances"
### Summary

When I try to use the `ec2_metadata_facts` module against an EL7 instance such as CentOS 7, I get this an exception:

[code]

### Issue Type

Bug Report

### Component Name

ec2_metadata_facts

### Ansible Version

[code]

### Collection Versions

[code]

### AWS SDK versions

[code]

### Configuration

[code]

### OS / Environment

- Target: CentOS 7 EC2 instance
- Ansible controller

[2022-09-21 13:58] pfuntner commented on #1048
I believe Ansible is installed in the container with:
[code]

I upgraded `amazon.aws` but it didn't help:
[code]

[2022-09-21 14:30] #1042 closed

[2022-09-21 14:58] pfuntner commented on #1048
I noticed that the target is running Python 2.7 so I did the following:

1. Installed Python 3
2. Replaced the `/usr/bin/python` symlink to point to Python 3
3. Ran the playbook
4. Observed the module was successful!

So it appears the module is having trouble with Python 2.

[2022-09-21 17:25] #1041 closed

[2022-09-22 00:05] #1013 closed

[2022-09-22 07:35] madrover commented on #1048
Same behavior has been observed on Centos 7 as well. This is my fix:

[code]

[2022-09-23 02:06] #463 closed

[2022-09-23 04:06] sjthespian opened #1060 "Failure stopping EC2 instances with community.aws.ec2_instance"
### Summary

Using community.aws.ec2_instance to stop instances usually works, but tonight it threw the message "Unable to stop instances:" for two out of three of the instances I was attempting to stop. The playbook task is fairly simple:
[code]

It is possible that the instances that this failed on were in the process of being shut down by the operating system (Windows), but I would still expect

[2022-09-23 07:08] tremble commented on #1060
@sjthespian Thanks for taking the time to open this issue.

ec2_instance was promoted to the "amazon.aws" collection (different support policies), so I've moved the issue over there.  Version 3.x of this collection is nearing the end of it's support life (we're starting to prepare for 5.0), and 2.x is no longer supported by the community.

Please could you try to reproduce this issue using a more

[2022-09-23 14:28] tremble opened #1064 "route53 module_utils not ported to amazon.aws"
### Summary

https://b7d126e9ce1bb4ebcac2-5137bb838e27bff384ce99c5e92105c7.ssl.cf1.rackcdn.com/1063/8671cbbc48875c782c9090a1de56ba527fe9248e/check/ansible-test-sanity-aws-ansible-2.12-python38/2184f29/job-output.txt

[code]

### Issue Type

Bug Report

### Component Name

route53

### Ansible Version

CI

### Collection Versions

Devel

### AWS SDK versions

n/a

### Configuration

n/a

### OS / E

[2022-09-23 14:28] tremble commented on #1064
CC: @alinabuzachis

[2022-09-23 18:45] sjthespian commented on #1060
Let me run some testing on the amazon.aws version next week. This is the first time I have seen this issue, it never showed up in my testing of the module in our dev environment, so this could be tough to reproduce.

[2022-09-26 14:05] nerijus opened #1067 "ec2_vol: setting 'name' does not work, 'tags' is needed"
### Summary

This used to work with version 3.2.0:
[code]
With version > 4.0.0 it errors now:
[code]
If I add line:
[code]
it works again. I see there is in the source:
[code]
but apparently it does not work?

### Issue Type

Bug Report

### Component Name

ec2_vol

### Ansible Version

[code]

### Collection Versions

[code]

### AWS SDK versions

[code]

### Configuration

[code]

### OS / Envir

[2022-09-27 11:37] alinabuzachis commented on #1064
@tremble I guess we can close this one now.

[2022-09-27 23:48] #363 closed

[2022-09-28 11:43] tremble commented on #1083
CC: @briantist

This is apparently caused by https://github.com/ansible-collections/amazon.aws/pull/951

Specifically the `import ansible.module_utils.common.warnings as ansible_warnings` (looks like this isn't available in Ansible 2.9)  The simplest fix is to upgrade to at least Ansible 2.10

Given that 2.9 is no longer supported upstream I think it's time to drop any claims that we support it in

[2022-09-28 14:10] briantist commented on #1083
This should've been caught in tests. If we're not testing against Ansible 2.9 anymore, then it absolutely should be officially unsupported and removed from `meta/runtime.yml` and any other areas (I assumed that was already the case since it went EoL).

Thanks for tracking this down @tremble !

[2022-09-28 14:24] #1064 closed

[2022-09-29 09:09] #1083 closed

[2022-09-29 15:35] #950 closed

[2022-09-29 16:09] momelod opened #1091 "aws_ec2 inventory does not work with MFA OTP"
### Summary

`aws_ec2` fails to generate an inventory when using AWS credentials that require MFA.

[code]

### Issue Type

Bug Report

### Component Name

ansible_collections.amazon.aws.plugins.inventory.aws_ec2

### Ansible Version

[code]

### Collection Versions

[code]

### AWS SDK versions

[code]

### Configuration

[code]

### OS / Environment

[code]

### Steps to Reproduce

`❯ cat ~/.ans

[2022-09-29 20:14] IPvSean opened #1092 "deprecate aws-account-attribute-lookup"
### Summary

The lookup plugin aws-account-attribute-lookup

located at https://docs.ansible.com/ansible/latest/collections/amazon/aws/aws_account_attribute_lookup.html#ansible-collections-amazon-aws-aws-account-attribute-lookup

is no longer supported on the API

### Issue Type

Bug Report

### Component Name

aws_account_attribute

### Ansible Version

[code]

### Collection Versions

[code]

##

[2022-09-30 10:44] tremble commented on #1092
Looking at the latest API docs https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ec2.html#EC2.Client.describe_account_attributes I don't think you're correct about the whole of
`aws-account-attribute-lookup` as a whole being deprecated.

`max-instances` has that message and is deprecated, and max-elastic-ips will also become worth-less soon (with EC2-Classic going away).

[2022-09-30 13:34] IPvSean commented on #1092
can we just remove the values that are incorrect then?

[2022-09-30 13:37] momelod commented on #1091
I was able to get it working by installing [aws-vault](https://github.com/99designs/aws-vault) and following the recommendations for settings up `~/.aws/config` in that repos documentation.

Closing.

[2022-09-30 13:37] #1091 closed

[2022-10-03 21:15] life5ign opened #1101 "Documentation for v 3.5.0 for ansible 6 doesn't fit in Brave browser, horizontally"
### Summary

Documentation for v 3.5.0 for ansible 6 doesn't fit in Brave browser, horizontally.  It does fit OK in Firefox on my system.  Turning off Brave shields doesn't affect it.

### Issue Type

Documentation Report

### Component Name

amazon.aws.ec2_instance

### Ansible Version

[code]

### Collection Versions

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 22.05, PopOS

[2022-10-04 16:41] sjthespian commented on #1060
So far things are looking good using amazon.aws.ec2_instance. I don't know if the original problem was a race condition in the cluster or switching actually fixed things; but in either case I'm going to go ahead and close this. I don't have a cluster I can play with to keep seeing if I can reproduce the issue unfortunately.

Thanks for the help!

[2022-10-04 19:55] gravesm commented on #1048
@pfuntner @madrover I believe https://github.com/ansible-collections/amazon.aws/pull/943 may fix this. It has been backported to both 3.x and 4.x but neither have a new release, yet. 5.0.0 was just released today, however.

[2022-10-05 08:25] tremble opened #1110 "[6.0.0] - cloud.py drop CloudRetry.backoff (and by proxy AWSRetry.backoff)"
### Summary

When CloudRetry was rewritten we deprecated `CloudRetry.backoff` (which does the same thing as `CloudRetry.exponential_backoff` but with different parameter names)

We originally said we'd remove it for 4.0.0, but hadn't cleaned up, so bumped the deprecation to 6.0.0

It is time to remove it.

### Issue Type

Feature Idea

### Component Name

plugins/module_utils/cloud.py

### Additio

[2022-10-05 08:45] tremble commented on #901
5.0.0 released

[2022-10-05 08:45] #901 closed

[2022-10-05 08:51] tremble opened #1111 "[6.0.0] route53_health_check - Make health_check_name a required parameter"
### Summary

We've announced that `health_check_name` will become a required parameter.  Either reverse the decision or implement it prior to 6.0.0

### Issue Type

Feature Idea

### Component Name

plugins/modules/route53_health_check.py

### Additional Information

Original deprecation: https://github.com/ansible-collections/community.aws/pull/1143

[code]

### Code of Conduct

- [X] I agree to

[2022-10-05 09:03] tremble opened #1112 "[6.0.0] s3_object - drop support for creating/deleting buckets"
### Summary

Drop support for creating/deleting buckets in `s3_object`, and tell people to use `s3_bucket` which has a much richer feature set.

There's currently overlap between `s3_object` and `s3_bucket`.  With `s3_object` having only limited support for creation/deletion of buckets.  `s3_object` was originally named `aws_s3` which meant that the confusion was worse since people thought that `a

[2022-10-05 09:43] tremble opened #1114 "[6.0.0] Drop support for EC2 Classic networking"
### Summary

[Amazon announced that they're dropping support for "EC2 Classic" (non-VPC networking) in July 2021](https://aws.amazon.com/blogs/aws/ec2-classic-is-retiring-heres-how-to-prepare/).  This is sometimes referred to as "Classic-Link"

Specifically stating that:

We're now past that date, it's reasonable to start dropping support for EC2-Classic for 6.0.0.  Anyone who's got an exception f

[2022-10-05 12:11] VertPyDev opened #1115 "5.0.0 : aws_s3 may fail on some S3 compatible provider that do not implement OwnershipControls"
### Summary

On the version 5.0.0, because of https://github.com/ansible-collections/amazon.aws/pull/921, we can have failure using aws_s3 on some non aws provider that are compatible with s3 but that dos not implement OwnershipControls (ie scaleway) :

[code]

The problem is on s3_object.py. When calling s3.get_bucket_ownership_controls(Bucket=bucket)['OwnershipControls']['Rules'][0]['ObjectOwner

[2022-10-05 12:23] tremble commented on #1115
Please work with Scaleaway

If they're not going to implement an API in a compatible manner then they should raise either 'XNotImplemented' or 'NotImplemented' errors.

https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketOwnershipControls.html

[2022-10-05 13:19] #1067 closed

[2022-10-05 17:41] vector-drodden commented on #1115
Ran into this same problem. `The error was: AttributeError: 'S3' object has no attribute 'get_bucket_ownership_controls`
It worked fine in 4.2.0 but broke when we used 5.0.0

[code]

I've had to use `ansible-galaxy collection install amazon.aws:4.2.0` to compensate for this error.
I used to just grab the latest version (`ansible-galaxy collection install amazon.aws`) but can't any longer.

[2022-10-05 17:42] glitchsys commented on #1115
Ran into this same problem. `The error was: AttributeError: 'S3' object has no attribute 'get_bucket_ownership_controls`
It worked fine in 4.2.0 but broke when we used 5.0.0

[code]

I've had to use `ansible-galaxy collection install amazon.aws:4.2.0` to compensate for this error.
I used to just grab the latest version (`ansible-galaxy collection install amazon.aws`) but can't any longer.

[2022-10-05 18:52] kennedyjosh opened #1120 "Create instance ignoring specified availability_zone"
### Summary

I'm trying to create a new instance in a specified availability zone; however, for some reason it is always being created in zone a instead of whatever I specify.

### Issue Type

Bug Report

### Component Name

ec2_instance

### Ansible Version

[code]

### Collection Versions

[code]

### AWS SDK versions

[code]

### Configuration

[code]

### OS / Environment

macOS 12.5

### Step

[2022-10-05 19:47] tremble commented on #1115
@glitchsys `AttributeError: 'S3' object has no attribute 'get_bucket_ownership_controls'` is a completely different issue.  You're seeing that because you're using `botocore < 1.18.11`.

Please see the module/collection documentation:
https://github.com/ansible-collections/amazon.aws#aws-sdk-version-compatibility :

[code]

While things may (mostly) work with older versions of botocore, we don't m

[2022-10-05 19:58] glitchsys commented on #1115
@tremble  just prior to ansible running, the build system, Ubuntu 20.04, did a "apt-get install python3-boto3" which would have installed `python3-boto3 1.9.253-1`  and `python3-botocore 1.16.19+repack-1ubuntu0.20.04.1`
Are you saying that the amazon.aws collection isn't compatible with the python3 packaged with Ubuntu 20.04 (LTS)?  4.2.0 just happened to work for our specific S3 needs with those

[2022-10-05 20:09] tremble commented on #1115
[code]

Pretty much.  We don't actively go out of our way to break things, (we don't throw an error just because you're using an old version), however if someone adds a new feature we only check that it works with the oldest version we support.

[code]

Yeah we used to try to support older versions, unfortunately the rate at which AWS is moving makes this impractical to test.  We now deliberately

[2022-10-05 21:04] #1115 closed

[2022-10-05 21:10] RobertFr0st commented on #1083
It may also be a good idea to update the changelog to reflect when the compatibility with ansible 2.9 was broken.  I was dealing with a similar issue with community.general and this thread helped me to narrow down that it was the same problem happening with this amazon.aws module.  In my case locking the collection version down to 3.4.0 resolved the issue.

[2022-10-06 04:50] tremble commented on #1101
@life5ign Thanks for taking the time to open this issue.

We don't manage the templates used for generating that documentation it's managed by the Ansible Documentation Working Group.   @felixfontein or @samccann Would you be able to move this issue over to the correct repo?

[2022-10-06 04:56] tremble commented on #1083
@RobertFr0st,

Compatibility with 2.9 was accidentally broken in 4.2.0 (it should work with 4.1.0), and a fix will be available when we release 4.3.0 (we're trying to finish off the 5.0.0 releases first, which took longer than intended)

Compatibility with Ansible Core < 2.11 was **deliberately** broken with 5.0.0 including a release note
https://ansible-collections.github.io/amazon.aws/tag/5.0.0/

[2022-10-06 05:03] felixfontein commented on #1101
Link to the documentation: https://docs.ansible.com/ansible/devel/collections/amazon/aws/ec2_instance_module.html

Works totally fine with Firefox, but Chromium somehow makes the table too wide. I'll try to figure out what's the problem is...

About moving the issue: the correct repo (https://github.com/ansible-community/antsibull-docs) is in another GH organization, so moving is rather non-trivia

[2022-10-06 05:10] felixfontein commented on #1101
Interestingly, with the latest versions of the sphinx_rtd_theme and sphinx_ansible_theme, this does not happen.

[2022-10-06 05:34] felixfontein commented on #1101
https://github.com/ansible-community/antsibull-docs/pull/54 improves the CSS by making the left column less wide, but at least for me (when applying these CSS changes directly to the devel docsite with the browser's Inspector) it doesn't resolve the problem completely. I guess upgrading the themes and/or sphinx is needed for that.

[2022-10-06 12:53] leosimony opened #1126 "ec2_instance - unable to start instances by tag."
### Summary

When I try to start an EC2 instance using tags via ansible-playbook, it's throwing the below error message. If I add image_id then its launching a new instance rather than starting the existing one.

You must include an image_id or image.id parameter to create an instance or use a launch_template.

### Issue Type

Bug Report

### Component Name

amazon.aws.ec2_instance

### Ansible Ve

[2022-10-06 14:52] tremble commented on #1115
@VertPyDev

We've just released 5.0.1 which should fix your issue.

[2022-10-06 19:54] sjthespian commented on #1060
Reopening this -- I just had the same failure using amazon.aws.ec2_instance.
[code]

Which sometimes fails with:
[code]

I believe what is happening is that something earlier in the playbook tells the instances to shut down from the OS. When it gets to this point in the playbook the instances are either already down, or in the process of shutting down. However, since I am using `wait: true`, I wou

[2022-10-06 20:46] kennedyjosh commented on #1120
The following aws cli command, which I believe is equivalent to what I'm trying to achieve here, works as expected:
[code]

So this makes me think this is an issue with ansible, not something with aws

[2022-10-06 21:25] isuftin opened #1134 "ec2_metadata_facts returns "AttributeError: 'int' object has no attribute 'items'""
### Summary

When calling `amazon.aws.ec2_metadata_facts` against a remote RHEL 8 instance, I get the error `AttributeError: 'int' object has no attribute 'items'`

### Issue Type

Bug Report

### Component Name

ec2_metadata_facts

### Ansible Version

[code]

### Collection Versions

[code]

### AWS SDK versions

[code]

### Configuration

[code]

### OS / Environment

Target OS: RHEL 8 EC2 inst

[2022-10-06 21:26] isuftin commented on #1134
The last time this ran properly was using 4.1.0 and I will re-try that

[2022-10-06 21:35] life5ign commented on #1101
Thanks all!  I filed the issue here because it doesn't seem to be happening for other collections--sorry for the difficulty.

https://docs.ansible.com/ansible/latest/collections/ansible/posix/synchronize_module.html
https://docs.ansible.com/ansible/latest/collections/community/general/apache2_mod_proxy_module.html#ansible-collections-community-general-apache2-mod-proxy-module

These display fine o

[2022-10-07 05:12] felixfontein commented on #1101
I figured out also the remaining problem: links in tables do not break (but only with Chromium, Firefox automatically breaks them). This is fixed by https://github.com/readthedocs/sphinx_rtd_theme/pull/1193, which is included in version 1.0.0 of the theme. Interestingly, `test/sanity/code-smell/docs-build.requirements.txt` in ansible-core *does* include 1.0.0 of that theme, but maybe the actual do

[2022-10-07 05:38] felixfontein commented on #1101
antsibull-docs 1.7.0 combined with sphinx_rtd_theme 1.0.0 fixes this. (The latter is enough, but then the left column is still very wide compared to the right one.)

[2022-10-07 06:15] tremble commented on #1101
Yeah, we've got a lot of aliases on the session token parameter (because Amazon renamed things) and that's triggered the issue in the theme.

[2022-10-07 08:51] VertPyDev commented on #1115
Its working fine ! Thinks for fixing it so fast !

[2022-10-07 12:46] jrglynn2 opened #1137 "aws_s3 Folder Creation issue on S3 Buckets with ACLs disabled"
### Summary

When I try to create a folder using aws_s3 on an S3 bucket with ACLs disabled, I get an error `UnboundLocalError: local variable 'object_acl' referenced before assignment. `

### Issue Type

Bug Report

### Component Name

aws_s3

### Ansible Version

[code]

### Collection Versions

[code]

### AWS SDK versions

[code]

### Configuration

[code]

### OS / Environment

Red Hat Enterpr

[2022-10-07 14:08] isuftin commented on #1134
Versions up to 4.3.0 work as expected. 5.0.0 breaks as above.

[2022-10-07 14:50] bakerbean commented on #1134
This took out some of our cloud automation, can also confirm that specifying version 4.x gets everything working again.

`ansible-galaxy collection install 'amazon.aws:>4.0.0,<5.0.0'`

[2022-10-07 15:01] tremble commented on #1134
Hi, if possible please could you try #1138 and see if that fixes the issue.  Unfortunately our integration tests for ec2_metadata_facts are apparently not running at all, so we didn't catch the issue.

[2022-10-07 15:03] samccann commented on #924
Hi folks - we have some generic 'contributing to collections' documentation at https://docs.ansible.com/ansible/latest/community/create_pr_quick_start.html

And some about testing at:
https://docs.ansible.com/ansible/latest/community/collection_contributors/test_index.html

If we link to these from the CONTRIBUTOR file, does this cover a lot of what's been pointed out here as problematic?  (things

[2022-10-07 16:20] isuftin commented on #1134
@tremble - Yes, making that change does fix the issue

[2022-10-07 18:30] samccann commented on #923
Hi folks - we have some generic 'contributing to collections' documentation at https://docs.ansible.com/ansible/latest/community/create_pr_quick_start.html

And some about testing at:
https://docs.ansible.com/ansible/latest/community/collection_contributors/test_index.html

If we link to these from the CONTRIBUTOR file, does this cover a lot of what's been pointed out here as problematic?  (things

[2022-10-08 01:16] #1134 closed

[2022-10-10 10:40] #1110 closed

[2022-10-10 11:23] tremble commented on #1134
5.0.2 has been released and it believed to resolve this issue.

[2022-10-10 16:26] mdaniel opened #1148 "ec2_instance fails to check TagSpecification for None"
### Summary

When I try to launch an ec2 instance using `amazon.aws.ec2_instance` from collection version 3.4.0 through 5.0.0 inclusive it fails botocore validation with
[code]

This actually isn't directly my bug, I found it while triaging [a StackOverflow question](https://stackoverflow.com/questions/74007055/the-error-was-invalid-type-for-parameter-tagspecifications-value-none-type)

The work-a

[2022-10-10 20:13] neal3000 commented on #912
I am having this issue too, brand new configuration
 ansible-inventory -v -i aws_ec2.yaml --list -vvv
ansible-inventory [core 2.13.4]
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/ansible/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /home/ansible/.local/lib/python3.8/site-packages/ansible
  ansible collecti

[2022-10-11 08:51] 0xsudo commented on #912
check the directory you are working with and the directory permissions,
change if necessary , additionally I had to install boto3 and boto-core
using sudo, this worked out for me

On Mon, Oct 10, 2022 at 11:14 PM neal3000 ***@***.***> wrote:

[2022-10-11 11:50] tremble commented on #1148
Thanks for taking the time to open this issue.

I'm surprised this only just popped up. The issue was introduced by #548 and released in 2.1.0, almost a year ago!

[2022-10-11 12:03] neal3000 commented on #912
I though I had deleted my post, the problem turned out to be the name of the aws_ec2.yml file, I had something like aws-ec2.yml.
ps. Its pretty silly to enforce a naming convention and then fail with an obscure message like verify file failed.

[2022-10-11 13:08] bcoca commented on #912
thinking we can add something to core to let the plugins personalize the failure:
[code]

[2022-10-11 14:45] goneri commented on #1116
Hi @thomaszooman, @abikouo is working on a set of new modules that should address your request. Can you give them a try?

https://github.com/ansible-collections/amazon.aws/pull/1095

[2022-10-11 14:57] goneri commented on #1120
Hi @kennedyjosh, @mandar242's PR https://github.com/ansible-collections/amazon.aws/pull/1150 should resolve the problem. Can you give it a try?

[2022-10-11 15:00] goneri commented on #1126
Hi @leosimony, Can you try to pass the instance ID through the `instance_ids` parameter?

[2022-10-11 15:59] #1120 closed

[2022-10-11 17:52] #1148 closed

[2022-10-11 21:13] kennedyjosh commented on #1120
Yep, that works. Thanks for the fix! Any chance this could be released soon?

[2022-10-12 06:34] leosimony commented on #1126
@goneri If we pass instance_ids it is working as expected.  This seems to be a problem with the module 'amazon.aws.ec2_instance' that comes from amazon.aws collections. There are changes in this module that needed to be updated in the task and did as well. For ex: 'instance_tags' is changed as 'tags'. The module comes from the collections that have advanced use cases is great but a feature that wo

[2022-10-12 07:31] #1116 closed

[2022-10-12 07:53] tremble commented on #1126
In general we try to avoid breaking behavior, and new modules come with integration tests which help to avoid this.  Ironically, `ec2` being one of the oldest modules had almost no integration tests.

However, the `ec2_instance` module is a separate module, originally released over 4 years ago (Ansible 2.5).  The two modules had been available in parallel until we dropped `ec2` with amazon.aws 4.0

[2022-10-12 08:27] leosimony commented on #1126
@tremble Thanks for explaining. Will try with 3.5.0 and update you if any issues.
The behavior of starting instances with tags will be included in the latest version of collections? or its a collaborative work?

[2022-10-12 08:35] tremble commented on #1126
Someone will need to write the code, I don't know how involved the change would be, but it's definitely a reasonable change to make

[2022-10-12 09:19] tremble commented on #1126
@leosimony I've just dug a little further into the code:

It should be possible to achieve what you want using `ec2_instance`.  However, the syntax is different

https://ansible-collections.github.io/amazon.aws/branch/main/collections/amazon/aws/ec2_instance_module.html#parameter-filters

An example that we use in our integration tests:
[code]

When using this to start instances you may still get

[2022-10-12 15:24] leosimony commented on #1126
@tremble That's very cool. It's working as expected and meet my requirement. The way filters work is similarly to the aws_ec2 dynamic inventory plugin. Thank you for pointing that out.

[2022-10-12 15:26] #1126 closed

[2022-10-12 19:52] mandar242 commented on #944
@lkatalin #1037 should likely solve the issue.

[2022-10-12 20:37] #944 closed

[2022-10-13 16:46] #475 closed

[2022-10-13 22:41] downingar opened #1170 "Botocore sets bad endpoint_url"
### Summary

The botocore utility can (but does not need to) set the endpoint_url based on two env vars: (https://github.com/ansible-collections/amazon.aws/blob/main/plugins/module_utils/botocore.py#L190) `AWS_URL` or `EC2_URL`. If both are unset everything works as expected. However, if `EC2_URL` is set to the correct address for EC2, and AWL_URL is unset, when you use a non-ec2 module, such as t

[2022-10-13 23:01] kennedyjosh opened #1171 "Secrets lookup failing in virtual env: "ERROR! A worker was found in a dead state""
### Summary

I have a system that will run ansible playbooks from a command-line script. This command line script runs in Python using argparse and will call an ansible playbook using the `subprocess` package. The problem is, this python script runs in a virtual environment, and that is somehow causing `amazon.aws`'s `lookup` plugin to crash when I try to fetch a secret from secrets manager.

Belo

[2022-10-13 23:04] kennedyjosh commented on #1171
Just after posting this I had a thought and tried calling the `ansible-playbook` directly from within the virtual env, skipping over python and cli script. The error still occurs.

[2022-10-13 23:06] kennedyjosh commented on #1171
!component=plugins/lookup/aws_secret.py

[2022-10-14 13:09] gravesm commented on #1171
@kennedyjosh This is likely the same problem discussed in https://github.com/ansible/ansible/issues/76322. You can try setting `OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` as suggested in that discussion.

[2022-10-15 00:26] kennedyjosh commented on #1171
I noticed that issue when researching the problem. Unfortunately, that fix doesn't seem to work for me.

[2022-10-15 00:26] kennedyjosh commented on #1171
I was just able to solve the issue by deleting and re-installing the virtual environment. I'm still not sure what the underlying cause was.

[2022-10-17 14:51] abikouo commented on #702
@jseiser closing the issue for now.
If the issue still persists on your side feel free to re-open this.

Thanks

[2022-10-17 14:51] #702 closed

[2022-10-17 19:34] kennedyjosh commented on #1171
Closing this as it doesn't seem to be a problem with ansible

[2022-10-17 19:34] #1171 closed

[2022-10-18 06:44] tremble opened #1176 "[6.0.0] ec2_eip - Remove `instance_id` alias."
### Summary

The `instance_id` alias is slated for removal after 2022-12-01, We're now close enough to 2022-12-01 and have only just released 5.0.0, so let's bump the date over to a specific version to make tracking easier.

### Issue Type

Feature Idea

### Component Name

ec2_eip

### Additional Information

Original deprecation: https://github.com/ansible-collections/community.aws/pull/349

###

[2022-10-18 06:47] tremble opened #1177 "[6.0.0] ec2_vpc_dhcp_option - drop `new_config` return key"
### Summary

The `new_config` return key is slated for removal after 2022-12-01, We're now close enough to 2022-12-01 and have only just released 5.0.0, so let's bump the date over to a specific version to make tracking easier.

### Issue Type

Feature Idea

### Component Name

ec2_vpc_dhcp_option

### Additional Information

Original deprecation - https://github.com/ansible-collections/amazon.aws

[2022-10-18 06:51] tremble opened #1178 "[6.0.0] ec2_vpc_endpoint - remove deprecated `policy_file` parameter"
### Summary

The `policy_file` parameter is slated for removal after 2022-12-01, We're now close enough to 2022-12-01 and have only just released 5.0.0, so let's bump the date over to a specific version to make tracking easier.

### Issue Type

Feature Idea

### Component Name

ec2_vpc_endpoint

### Additional Information

Original deprecation: https://github.com/ansible-collections/community.aws/

[2022-10-18 06:54] tremble opened #1179 "[6.0.0] ec2_vpc_endpoint_info - drop support for querying services"
### Summary

The `query` parameter is slated for removal after 2022-12-01, We're now close enough to 2022-12-01 and have only just released 5.0.0, so let's bump the date over to a specific version to make tracking easier.

There is a replacement `ec2_vpc_endpoint_service_info module which replaces this feature.

### Issue Type

Feature Idea

### Component Name

ec2_vpc_endpoint_info

### Additiona

[2022-10-18 16:21] #1137 closed

[2022-10-18 17:59] kennedyjosh opened #1182 "Unable to install collection by git hash due to issue with dependencies"
### Summary

Due to a recent bug fix in a version > 5.0.2, my project requires a version >= a specific commit from this repo. Additionally, my project must use a `requirements.yml` file to install necessary collections, as it is infeasible for other users of my project to use the workaround mentioned [here](https://github.com/ansible/ansible/issues/79109#issuecomment-1275274598_). Due to an issue

[2022-10-18 18:01] kennedyjosh commented on #1182
I'm making this issue here because I believe the issue has to do with the lack of semantic versioning currently in place by using `6.0.0-dev0` as the version. If it is a more of an issue with ansible-galaxy I can make the issue in the core ansible repo instead.

[2022-10-19 15:48] gravesm commented on #1182
The best we can offer from the collection side of things is to use `ansible-galaxy collection install -r requirements.yml --pre`, which should successfully install. Other than that, you would need to file an issue on the ansible/ansible repo as the dependency resolution is all handled there.

[2022-10-19 15:48] #1182 closed

[2022-10-19 16:33] goneri commented on #688
I don't feel like it's a good idea to implement this. This will create yet another configuration source which will ultimately increase the complexity. Also the original key name is rather counter intuitive now we've got the `include_filters` and `exclude_filters` mechanism in place.

[2022-10-19 16:40] tremble commented on #1182
Just to add:  `6.0.0-dev0` *is* a valid semver.

See https://semver.org/ for more information.

It's reported as a prerelease (`dev0`), because we've already split `stable-5` (5.x) from main, so that we can land planned breaking changes for 6.0.0 as early as possible.  What you're seeing is actually an Ansible bug https://github.com/ansible/ansible/pull/79112 and something we will only change on o

[2022-10-19 17:13] goneri commented on #688
@dnmvisser you can also generate the inventory configuration from a template and set the key using `include_filters: { lookup('env', 'EC2_INSTANCE_FILTERS') }}`

[2022-10-19 17:13] #688 closed

[2022-10-19 21:33] kennedyjosh commented on #1182
ansible-galaxy doesn't seem to recognize the `--pre` tag when I try this @gravesm

Thank you – I learn something new every day!

[2022-10-20 18:21] gravesm commented on #1182
The help for ansible-galaxy on ansible 2.13 shows the --pre option. If you are finding it's not working you will need to file an issue in the main ansible repo.

[2022-10-20 19:12] #1074 closed

[2022-10-20 19:38] anjo-swe opened #1188 "route53_health_check - Name tag lost on 2nd deploy"
### Summary

When updating a Route53 health check the `Name` tag is removed when using `health_check_name: my-health-check`

Tag is initially added by
https://github.com/ansible-collections/amazon.aws/blob/f9751fab28c55d793df7996f599839a3ace5414b/plugins/modules/route53_health_check.py#L624

### Issue Type

Bug Report

### Component Name

route53_health_check

### Ansible Version

[code]

### Coll

[2022-10-20 20:01] anjo-swe opened #1189 "route53_health_check - Add support for Latency graphs (MeasureLatency) during creation"
### Summary

Add support for Latency graphs (MeasureLatency) during creation of a Route53 Health Check

#### Reference
https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/route53.html#Route53.Client.create_health_check

Specify whether you want Amazon Route 53 to measure the latency between health checkers in multiple Amazon Web Services regions and your endpoint, and to dis

[2022-10-20 22:03] anjo-swe opened #1190 "route53_health_check - no "health_check" information returned when updating"
### Summary

When updating a Route53 health check the only information returned is that it was changed

One suggestion is to update `update_health_check` so it returns `check_id` in all 3 spots (need to move `check_id = existing_check.get('Id')` further up in the method)
https://github.com/ansible-collections/amazon.aws/blob/f9751fab28c55d793df7996f599839a3ace5414b/plugins/modules/route53_health_c

[2022-10-24 13:18] #1176 closed

[2022-10-24 13:43] #1178 closed

[2022-10-25 15:58] gaurav34065 opened #1197 "ec2_instance module giving TypeError: iter() returned non-iterator of type BackoffIterator"
### Summary

I'm trying to launch an ec2 instance using ec2_instance module

### Issue Type

Bug Report

### Component Name

ec2_instance

### Ansible Version

[code]

### Collection Versions

[code]

### AWS SDK versions

[code]

### Configuration

[code]

### OS / Environment

$uname -a
Linux 10.15.18.75 4.14.291-218.527.amzn2.x86_64 #1 SMP Fri Aug 26 09:54:31 UTC 2022 x86_64 x86_64 x86_64 GNU/L

[2022-10-25 17:24] anjo-swe opened #1198 "Add support for TLS listeners in elbv2 module_utils"
### Summary

Currently it's not possible to change the Ssl Policy or ALPN Policy of TLS listener of a Network Load Balancer due to the listener is never added to `listeners_to_modify`

Need something similar to the block we have for `HTTPS` - https://github.com/ansible-collections/amazon.aws/blob/main/plugins/module_utils/elbv2.py#L759-L772

**References**
* Usage: https://github.com/ansible-colle

[2022-10-26 02:26] mandar242 commented on #1190
@anjo-swe thank you for reporting this issue!
I've opened a PR which should fix this and return health check info on update operation as well.
If possible, it would be great if you can test the patch with your current issue.
Thanks!

PR: https://github.com/ansible-collections/amazon.aws/pull/1200

[2022-10-27 14:57] tremble opened #1217 "ec2_security_group - exception when group_name or group_id is a list"
### Summary

Working on #1214 I've uncovered that --diff will throw an exception if group_name or group_id is a list:

[code]

### Issue Type

Bug Report

### Component Name

ec2_security_group

### Ansible Version

CI

### Collection Versions

CI / 5.0.0

### AWS SDK versions

CI

### Configuration

CI

### OS / Environment

CI

### Steps to Reproduce

Pass group_name as a list

### Expected Resu

[2022-10-27 22:17] #684 closed

[2022-10-28 19:39] #1189 closed

[2022-10-29 00:24] kgignatyev opened #1223 "aws_ssm lookup - AWS_PROFILE in environment blocks authentication tokens from environment"
### Summary

Here is playbook
![image](https://user-images.githubusercontent.com/868783/198752705-e22c39e4-7cd4-41c1-b256-4193c9d706a7.png)

aws_secret lookup works but aws_ssm lookup does not. It fails with message:
 Error was a <class 'ansible.errors.AnsibleError'>, original message: SSM lookup exception: An error occurred (AccessDenied) when calling the AssumeRole operation: ..... SSM lookup ex

[2022-10-29 15:39] tremble commented on #1223
@kgignatyev, thank you for taking the time to open this issue.

Release 3.5.0 is no longer supported, and support for passing the combination of profile and authentication tokens was dropped in release 4.0.0.

It looks like there's an edge case where passing them as environment variables isn't properly caught and results in the profile having precedence and authentication tokens being ignored in o

[2022-10-29 15:39] #1223 closed

[2022-11-01 08:36] tremble opened #1228 "RDS tests broken"
### Summary

The RDS tests seem to be failing due to

[code]

### Issue Type

CI Bug Report

### CI Jobs

https://91e9a3336fc6cf834b6f-087e5227eee662c0149ffdee046c3252.ssl.cf5.rackcdn.com/1226/48cb55edca4c701d42472d27ef4ed7c20cfdebe8/check/integration-amazon.aws-3/35b26f7/job-output.txt
https://0a6dc8d3d9da37eaf54e-7975233738694410080e04feaaf00d88.ssl.cf1.rackcdn.com/1226/48cb55edca4c701d42472d27e

[2022-11-01 13:48] goneri commented on #1228
Hum, I'm pretty sure these tests were running fine last week. I will take a look.

[2022-11-02 17:36] #1228 closed

[2022-11-03 21:37] jsalatiel opened #1260 "ec2_vpc_nat_gateway should support creating nat gateway with connectivity = private"
### Summary

Currently the module always allocates an elastic IP and set the connectivity type for the natgw to public.

It should be possible to set the connectivity type to private and not allocate any elastic/public IP to it. Just like it can be done manually.

### Issue Type

Feature Idea

### Component Name

ec2_vpc_nat_gateway

### Additional Information

[code]

### Code of Conduct

- [X] I

[2022-11-04 17:55] GomathiselviS commented on #1197
Hi @gaurav34065 This issue is not reproducible with amazon.aws >= 4.2.0 . I see that you have got amazon.aws 1.5.1.

`$ ansible-galaxy collection list

# /mnt1/tmp/ansible-test/lib64/python3.7/site-packages/ansible_collections
Collection                    Version
----------------------------- -------
amazon.aws                    1.5.1`

Can you please install the latest version of the collection

[2022-11-07 08:12] jsabater opened #1250 "Support MinIO when creating users via iam_user"

[2022-11-07 13:42] tremble commented on #1250
@jsabater, thanks for taking the time to make this suggestion.

This collection is specifically based upon Amazon AWS's APIs, and the fact that the S3 modules work is only because MinIO explicitly added compatibility with the **AWS** APIs for S3, rather than because this collection is deliberately trying to be compatible with MinIO.

The error message you're seeing is `No endpoint found for parame

[2022-11-07 15:34] jsabater commented on #1250
Thanks for your insightful feedback, @tremble. I understand your point and agree with your reasoning. For some reason I thought that MinIO would more or less have that level of compatibility with AWS (you know, beyond S3).

[2022-11-08 05:41] mandar242 commented on #1188
@anjo-swe thank you for reporting this issue!
I've opened a PR which would likely fix this. #1253
If possible, it would be great if you can test the patch with your current issue and let me know if that solved it.
Thanks!

[2022-11-08 08:58] markuman opened #1254 "rds_instance: gp3 support"
### Summary

RDS Instances support not `gp3` as storage type

### Issue Type

Feature Idea

### Component Name

rds_instance

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2022-11-11 11:21] adrian-arapiles commented on #570
Hello,
I can confirm the trick of `"'whatever'"` works perfectly with strings.
By other hand, in my case,  I have a more difficult string to append that it has quotes. For example to assign value to `ansible_ssh_common_args` variable.

I have a command that seems like `-o StrictHostKeyChecking=no -o ProxyCommand="sh -c \"custom command\""`
I tried several ways, even with `{%raw%} custom command {%

[2022-11-11 13:01] rwhagw commented on #570
I missed the notification for this; thank you @alinabuzachis, that works!

@adrian-arapiles maybe like this:

`"'-o StrictHostKeyChecking=no -o ProxyCommand=\"sh -c \"custom command\"\"'"`

[2022-11-11 19:27] #1190 closed

[2022-11-12 09:45] gaurav34065 commented on #1197
This issue got resolved when i changed python interpreter to python3. Previously it was using python2.7. Closing this thread.

[2022-11-12 09:45] #1197 closed

[2022-11-12 23:58] daniel-trnk opened #1263 "ec2_instance should allow setting and changing PlacementGroup and PartitionNumber"
### Summary

We need to control the placement attributes PlacementGroup and PartitionNumber for new instances as well as changing them for stopped instances / when starting previous stopped instances.

### Issue Type

Feature Idea

### Component Name

ec2_instance

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2022-11-15 00:39] mdavis-xyz opened #1268 "lambda_execute doesn't work with function_arn instead of name"
### Summary

The documentation says that I can use either `name` or `function_arn` for `execute_lambda`. This is not the case currently, because only the `name` (possibly `None`) is passed to the waiter.

I found the line of code in my local installation of this module that's causing the issue.

[code]

Changing it to:

[code]

fixes the issue.

But I can't see that line [here](https://github.com/

[2022-11-15 09:24] tremble commented on #1268
Hi @mdavis-xyz,

Thanks for taking the time to open this issue, the module was actually moved to the amazon.aws collection with release 5.0.0 (the ansible.com "latest" docs are tied to the latest version of **Ansible** rather than the collection)

The best place to look for the 'latest' version of the community.aws and amazon.aws modules is Ansible Galaxy: https://galaxy.ansible.com/amazon/aws and

[2022-11-15 19:37] #1260 closed

[2022-11-16 15:25] tremble commented on #874
@apsamuel I'm guessing you're providing the credentials using the assume-role-provider pattern https://boto3.amazonaws.com/v1/documentation/api/latest/guide/credentials.html#assume-role-provider ?

I've been doing some work to try and improve things here on #1271.  The underlying problem relates to how the AWS SDK and APIs work: To query a region for EC2 Instances you have to establish and authent

[2022-11-16 21:34] #1081 closed

[2022-11-17 19:26] AlexNikolaiev94 opened #1274 "Name and Prefix fields of hostnames in aws_ec2.yml inventory seem to be mixed up"
### Summary

Trying to specify a `prefix` field in the `hostnames` dict of the inventory file results in an error - invalid filter provided, one of the describe-instances [options](https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-instances.html#options) should be specified. However, according to the documentation, it's the [name](https://docs.ansible.com/ansible/latest/collections/ama

[2022-11-17 19:40] AlexNikolaiev94 commented on #1274
The whole process of finding out this bug is described in the following [post](https://stackoverflow.com/questions/74480653/failed-to-parse-aws-ec2-inventory-plugin)

[2022-11-17 19:55] AlexNikolaiev94 commented on #1274
!component

[2022-11-18 07:56] mdavis-xyz commented on #924
Ok I'm trying to write another PR, and running into the same issues.

@samccann  - Yes that's helpful. Although I don't know how contributors are supposed to find that. I just found [this](https://docs.ansible.com/ansible/devel/dev_guide/testing_integration.html#testing-integration), which doesn't work because it refers to a file that no longer exists. In your doc I'm not sure which directory `nam

[2022-11-18 07:58] mdavis-xyz commented on #924
Another issue I had is that I can't run `ansible-test` on it's own unless I remove `~/.aws`. Using the `--docker` option results in an error. On my machine you need to run docker commands with `sudo` . Most people configure docker to not require that, but that just opens up a security hole because then malicious code can use docker to circumvent `sudo` protections.
There might be a way to work aro

[2022-11-18 08:32] mdavis-xyz commented on #924
Another issue I just found: Integration tests fail if the account is not empty. The lambda integration tests assume there are no other lambdas in the account. I just swapped my region to one I don't use. But this is just another thing that should be documented in the README or CONTRIBUTING files in this repo.

[2022-11-18 08:40] mdavis-xyz commented on #924
After running the integration tests, there is a new file `tests/integration/inventory`. That seemed to have been created by the test scripts, and contains directories specific to me.

I'll add a `.gitignore` for that.

[2022-11-18 08:45] tremble commented on #924
This generally **shouldn't** be the case, our tests sometimes get run in parallel.  Was the error permissions related?

[2022-11-18 08:47] mdavis-xyz commented on #924
No. The error was for integration testing lambda,

[code]

If the freshly created lambda for this test is not the first lambda in the list (because a pre-existing lambda is), then this assertion fails.

[2022-11-18 08:52] tremble opened #1277 "lambda integration tests - potential test flake"
Another issue I just found: **[lambda]** Integration tests fail if the account is not empty. The lambda integration tests assume there are no other lambdas in the account. I just swapped my region to one I don't use.

The error was for integration testing lambda. It was an assertion error.

[code]

If the freshly created lambda for this test is not the first lambda in the list (because a pre-exist

[2022-11-18 08:55] tremble commented on #924
Yup, that's a bug in that test.  Such behaviour is "bad", and will result in our integration tests being flaky when run in CI

[2022-11-18 11:14] mdavis-xyz commented on #1277
I tried fixing this, but got stuck. My progress is in #1279.

[2022-11-18 11:27] #1268 closed

[2022-11-21 21:14] jrglynn2 opened #1281 "kms_key - Add support for "Regionality" (multi-region keys)"
### Summary

AWS introduced Multi-Region Keys in KMS in June 2021 (https://aws.amazon.com/about-aws/whats-new/2021/06/kms-multi-region-keys/), can the aws_kms module be changed to include that option?

Per the AWS CLI, it is just a parameter of `--multi-region`, which translates the Boolean as True (default is False) - https://awscli.amazonaws.com/v2/documentation/api/latest/reference/kms/create-k

[2022-11-22 10:26] tremble commented on #1281
@jrglynn2 thanks for taking the time to make this suggestion.

FYI the "latest" docs on docs.ansible.com are the version of the collection directly available as part of the latest released version of Ansible (the major version of the collection is effectively locked until the next version of Ansible is released), the "devel" docs on docs.ansible.com are the latest released version of the collectio

[2022-11-22 18:53] markuman opened #1284 "elb_application_lb: rules behavior"
### Summary

The current handling of rules might be resulting always in a changing task.
That depends on action types where boto3 is assuming default values when they are not requested (_See https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/elbv2.html and search for `The default is`_).

For example, take action type `authenticate-oidc`

#### User request

[code]

#### AWS

[2022-11-25 09:25] gianmarco-mameli opened #1287 "Module s3_object_info returns KeyError: 'mode' and other python errors"
### Summary

Hi, I'm trying to retrieve an object info from a bucket on Minio instance using the module s3_object_info, but invocation gives me this errors
All works using the s3_object module with same url, access keys and bucket

`An exception occurred during task execution. To see the full traceback, use -vvv. The error was: KeyError: 'mode'
fatal: [localhost]: FAILED! => {"changed": false, "mo

[2022-11-28 16:09] GomathiselviS commented on #1287
Hi @gianmarco-mameli This issue has been fixed by [this PR](https://github.com/ansible-collections/amazon.aws/pull/1139). I am closing this issue as the fix is available and is yet to be released. You can test your playbook with this fix and if you still see the failure, please reopen this issue. Thank you!

[2022-11-28 16:09] #1287 closed

[2022-11-29 09:25] #1277 closed

[2022-11-29 14:46] #924 closed

[2022-11-29 18:01] #1188 closed

[2022-11-29 21:02] goneri commented on #1274
Hi @AlexNikolaiev94,

Thank you for the bug report. May I ask you to give a try to a more up to date release of the collection?

[2022-11-30 22:24] zr2d2 opened #1291 "ansible-inventory fails to parse aws_ec2.yml with aws_ec2 plugin"
### Summary

I'm unable to use dynamic inventory, ansible fails to parse my inventory file

### Issue Type

Bug Report

### Component Name

amazon.aws

### Ansible Version

[code]

### Collection Versions

[code]

### AWS SDK versions

[code]

### Configuration

[code]
[root@ip-10-200-16-7 ansible]# cat inventory/playground.aws_ec2.yml
---
plugin: amazon.aws.aws_ec2
regions:
  - us-gov-west-1
  -